In [1]:
% matplotlib inline
import MySQLdb
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
db = MySQLdb.connect(host="crunchbase.ckfkhzm7cot3.us-west-2.rds.amazonaws.com",
                     port=3306,
                     user="root",         # your username
                     passwd="root1234",  # your password
                     db="analytics_2")        # name of the data base

In [3]:
cur = db.cursor()

In [4]:
count = cur.execute("SELECT count(*) FROM cb_objects")

#### Load into pandas dataframe from database

In [5]:
df_mysql = pd.read_sql('select * from cb_objects LIMIT 100;', con=db)

In [19]:
persons = pd.read_sql('Select * from cb_objects where entity_type = \'Person\'', con=db)

In [20]:
relationships = pd.read_sql('Select * from cb_relationships', con=db)

In [21]:
degrees = pd.read_sql('Select * from cb_degrees', con=db)

In [22]:
funding_rounds = pd.read_sql('Select * from cb_funding_rounds', con=db)

In [23]:
baseline_data = pd.read_sql("Select * from cb_master_data_2", con=db)

In [24]:
companies = pd.read_sql('Select * from cb_objects where entity_type = \'Company\'', con=db)

In [234]:
funding_round_order = pd.read_sql('select * from cb_funding_round_order', con=db)

In [ ]:
degrees = baseline_data

#### Fill nan for empty and None values

In [ ]:
degrees.fillna(value=np.nan, inplace=True)

In [25]:
persons.fillna(value=np.nan, inplace=True)
relationships.fillna(value=np.nan, inplace=True)
degrees.fillna(value=np.nan, inplace=True)

#### People

For the baseline model we need to consider only people who are Founders, CEO, CIO etc

#### Work Experience

In [ ]:
len(persons)

In [26]:
work_ex = pd.merge(persons, relationships, how='inner', right_on='person_object_id', left_on='id')

In [27]:
print 'Total number of work ex rows', len(work_ex)

Total number of work ex rows 401957

In [28]:
workex_with_no_persons = work_ex[work_ex['id_x'].isnull()]
person_with_no_workex = work_ex[work_ex['id_y'].isnull()]
print "workex rows with no corresponding person",len(workex_with_no_persons)
print "Persons with no details about their workex",len(person_with_no_workex)

workex rows with no corresponding person 0
Persons with no details about their workex 0

In [29]:
print "Number of rows with no start_at for workex is: ",len(work_ex[work_ex['start_at'].isnull()]), "which is roughly half the number of rows"

Number of rows with no start_at for workex is:  195122 which is roughly half the number of rows

Idea : We can fill the start_at date with one of the following:
1. founding_date of the company
2. created_at_y which is when the record was created in the database

To analyse we can first build a plot of the different between the 2 and see the relation between the title, created at and founding date. It can mean that most of the founders have their profile created on crunchbase much later than the founding date, in which case we can safely use the founding date. However, for employess we an use the created_at.

In [30]:
work_ex['title'].unique

<bound method Series.unique of 0                         Co-Founder/CEO/Board of Directors
1                                           Co-founder & VP
2                                      Business Development
3                                           Limited Partner
4                                                Consultant
5                                                Consultant
6                                                Consultant
7                                                Consultant
8                                              VP Marketing
9                                           Limited Partner
10
11
12
13
14
15
16
17
18                                                   mentor
19                                               Evangelist
20
21
22
23                                           Marketing Head
24                      Senior Director Strategic Alliances
25                                         Owner. President
26                             Director Strategic Alliances
27        Director Business Development & Strategic Alli...
28                       Western Regional OEM Sales Manager
29                                               Co-founder
                                ...
401927                                       Vice President
401928                                                  CEO
401929                                     Business Analyst
401930                             Marketing and PR Manager
401931                                   Software Developer
401932                          Predictive Analytics Expert
401933                                                Sales
401934                                    President and CEO
401935                                   Co-founder and CEO
401936                                                  COO
401937                              Excecutive Board Member
401938                                                  COO
401939                                                  CFO
401940                                                  CEO
401941                                                  CEO
401942                                                  CEO
401943                                      President & CEO
401944                                                  CEO
401945                                                  CTO
401946                                                  CEO
401947                                                  CTO
401948                               Chief Business Officer
401949                                             Chairman
401950                     VP, Finance & Clinical Solutions
401951           Accounting Manager for Facts & Comparisons
401952                    Controller, Wolters Kluwer Health
401953    Director, Accounting - Professional & Educatio...
401954                                           Co-Founder
401955                                                  CEO
401956                                                  COO
Name: title, dtype: object>

This below line of code filters all the work ex where the person is one of the founding members or the board of directors

In [31]:
len(work_ex)

401957

In [32]:
founders = work_ex.loc[work_ex['id_x'].isin(work_ex.loc[work_ex['title'].str.contains('Cofounder', regex=True),'id_x'])]

In [17]:
founders['title']

1625                                          Board
1626                                      Cofounder
3454      CoFounder & Vice President of Engineering
3455                                Cofounder & CEO
3456                                Product Manager
3457                                            CEO
3458                                Cofounder & CEO
3459                                        Advisor
3460                                        Advisor
3461                                        Advisor
4270                                     NY Partner
4271                                   Board Member
4272                                      Cofounder
4273                               Business Advisor
4274                               Managing Partner
4275                                            EVP
4276                        Regional Advisory Board
4277       Co-Chairman & Co-Chief Executive Officer
4278                                 Advisory Board
4279                                     NY Partner
4280                                      Cofounder
4281                                       COO, EVP
4282                            Chairman and Co-CEO
4283                              Managing Director
4945                                      President
4946                                      Cofounder
4947                                      Cofounder
4948                                        Founder
4949                                     London guy
6684                                      Cofounder
                            ...
374923                                    Cofounder
375941                              COO - Cofounder
375942                              CTO - Cofounder
377633                                Cofounder/CEO
377634                                Cofounder/CTO
377670                            CEO and Cofounder
380896                            Cofounder and CEO
382213                                    Cofounder
382902                               CFO, Cofounder
387785                                    Cofounder
387786                                    Cofounder
387787                                    Cofounder
387788                                    Cofounder
388316                                    Cofounder
388433                              CEO / Cofounder
392794                              Cofounder & CEO
393646                            Cofounder and CEO
393647                            Cofounder and CRO
395369                              Cofounder & CTO
395375                              Cofounder & CDO
395428                              Cofounder & CTO
395429                              Cofounder & CTO
395430                              Cofounder & CEO
396389                                    Cofounder
397083                                    Cofounder
397084                                    Cofounder
398848                                    Cofounder
399465                                    Cofounder
399497                                    Cofounder
399498                                    Cofounder
Name: title, dtype: object

In [33]:
founders = work_ex.loc[work_ex['id_x'].isin(work_ex.loc[work_ex['title'].str.contains('Chief|C[A-Z]O|Co\-Founder|Co\-founder|Board', regex=True),'id_x'])]

In [34]:
founders['start_at'] = pd.to_datetime(founders['start_at'])
# import dateutil
# founderspd.to_datetime(founders['start_at'])
# founders['start_at']
# len(founders[founders['start_at'].isnull()])

/Library/Python/2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [ ]:
founders.groupby('id_x').min()#agg({'start_at':min})

In [ ]:
founder_groups = founders.groupby('id_x')#.agg({'start_at':pd.datetime})
founder_groups['start_at'].min()
founders[founders['id_x']=='p:99969']

In [ ]:
import datetime
# pd.to_datetime(founders['start_at'])[5] > pd.to_datetime('2012-01-01')
np.min(pd.to_datetime(founders['start_at']))

TODO: Aggregate as the min of teh start_at, this will give the first date when work ex added

In [ ]:
len(founders['relationship_object_id'].unique())

In [ ]:
funding_rounds

In [35]:
tabl = pd.merge(founders, funding_rounds,how='inner', left_on='relationship_object_id', right_on='object_id')

In [36]:
tabl[['funding_round_id','name','title']]

,funding_round_id,name,title
0,888,Ben Elowitz,Co-Founder/CEO/Board of Directors
1,889,Ben Elowitz,Co-Founder/CEO/Board of Directors
2,2312,Ben Elowitz,Co-Founder/CEO/Board of Directors
3,888,Gus Tai,Board Member
4,889,Gus Tai,Board Member
5,2312,Gus Tai,Board Member
6,888,Theresia Ranzetta,Board
7,889,Theresia Ranzetta,Board
8,2312,Theresia Ranzetta,Board
9,888,Alex Berg,VP User Experience
10,889,Alex Berg,VP User Experience
11,2312,Alex Berg,VP User Experience
12,888,Len Jordan,Board
13,889,Len Jordan,Board
14,2312,Len Jordan,Board
15,888,Bert Hogue,CFO
16,889,Bert Hogue,CFO
17,2312,Bert Hogue,CFO
18,888,Rob Grady,COO/Board of Directors
19,889,Rob Grady,COO/Board of Directors
20,2312,Rob Grady,COO/Board of Directors
21,888,Rob Grady,"Senior Vice President, Marketing"
22,889,Rob Grady,"Senior Vice President, Marketing"
23,2312,Rob Grady,"Senior Vice President, Marketing"
24,888,Michael Howell,"Co-Founder and VP, Social and Audience Develop..."
25,889,Michael Howell,"Co-Founder and VP, Social and Audience Develop..."
26,2312,Michael Howell,"Co-Founder and VP, Social and Audience Develop..."
27,888,Brian Watkins,CFO/ CRO
28,889,Brian Watkins,CFO/ CRO
29,2312,Brian Watkins,CFO/ CRO
...,...,...,...
202727,13276,Marek Chauncey,CEO
202728,13276,Ana Arrieta,Co-founder
202729,13276,Fernando P. Coss,Co-founder
202730,13276,Victor Tome,Board of Director
202731,13276,Pedro Miguel Etxenike,Board of Director
202732,13276,Manuel Arrieta,Board of Director
202733,52846,Mandar Agte,CEO & Co-Founder
202734,26319,Carl O. Lewis,CEO
202735,26319,Anastasia T. Lewis,Director and Co-Founder
202736,57876,Wynn Wang,CEO
202737,57876,Tao Chang,COO
202738,35710,Antonio Tom,CEO & Co-Founder
202739,35710,Juan S?nchez,CTO & Co-Founder
202740,57881,Ken Prayoon Cheng,Co-Founder and Chief Technology Officer
202741,36466,Jaclyn Shanfeld,CEO
202742,57771,Jaclyn Shanfeld,CEO
202743,57889,Jacob Slevin,Co-Founder and Chief Executive Officer
202744,57889,Avi Flombaum,Co-Founder and Chief Product Officer
202745,57894,John Ferrari,CEO
202746,37353,Hector M Morell,Founder & CEO
202747,37353,Carlos Tapiador,CFO
202748,57902,Marcus Yeo,CEO
202749,57902,Ludovic Vallier,CSO
202750,57871,Drew Langloh,President and CEO
202751,57916,Tai-Sen Soong,CEO
202752,57934,Donna L. Tempel,President & CEO
202753,57936,John Bissell,CEO
202754,57936,Ryan Smith,CTO
202755,57943,Cecil Bond Kyte,CEO
202756,57952,David Schulhof,Co-Founder

#### Education

In [37]:
len(degrees)

109610

In [38]:
degrees['degree_type'].dtype

dtype('O')

In [39]:
len(degrees['object_id'].unique())

68451

We have degree details for the above number of people

We need to give a rating to the degrees. All Bachelors will have rating as 1. Masters will have rating 2 and PHD/MBA will have rating 3.As there are around 7000 differnet degrees, for other types of degrees we can use the median of the rest of the table.

In [40]:
degrees.loc[degrees['degree_type'].str.contains('B\..*',na=False),'degree_score'] = 1

In [41]:
degrees.loc[degrees['degree_type'].str.contains('Bachelor',na=False),'degree_score'] = 1

In [42]:
degrees.loc[degrees['degree_type'].str.contains('^B.*',na=False),'degree_score'] = 1

In [43]:
degrees.loc[degrees['degree_type'].str.contains('JD',na=False),'degree_score'] = 1

In [44]:
degrees.loc[degrees['degree_type'].str.contains('Master',na=False),'degree_score'] = 2

In [45]:
degrees.loc[degrees['degree_type'].str.contains('^M.*',na=False),'degree_score'] = 2

In [46]:
degrees.loc[degrees['degree_type'].str.contains('M.$',na=False),'degree_score'] = 2

In [47]:
degrees.loc[degrees['degree_type'].str.contains('M\..*',na=False),'degree_score'] = 2

In [48]:
degrees.loc[degrees['degree_type'].str.contains('Ph\.*D',na=False),'degree_score'] = 3

In [49]:
degrees.loc[degrees['degree_type'].str.contains('MBA',na=False),'degree_score'] = 2

In [50]:
degrees.loc[degrees['degree_type'].str.contains('No degree',na=False),'degree_score'] = 0

In [51]:
degrees.loc[degrees['degree_type'].str.contains('LLB',na=False),'degree_score'] = 1

In [52]:
degrees.loc[degrees['degree_type'].str.contains('Foundation',na=False),'degree_score'] = 0.5

In [53]:
degrees.loc[degrees['degree_type'] == '','degree_score'] = 1

In [54]:
degrees['degree_score'].fillna(np.nanmedian(degrees['degree_score']), inplace=True)

In [55]:
degrees[['degree_type','degree_score']]

                degree_type  degree_score
0                       MBA           2.0
1                        BA           1.0
2                        MS           2.0
3                        MS           2.0
4                       BCS           1.0
5                        BS           1.0
6                        BS           1.0
7                        MS           2.0
8                        BA           1.0
9                        BS           1.0
10               Foundation           0.5
11                       MA           2.0
12                      LLB           1.0
13                       BA           1.0
14                       MS           2.0
15                      PhD           3.0
16                      MBA           2.0
17                       BA           1.0
18                      BFA           1.0
19                      MBA           2.0
20                       BS           1.0
21                       MS           2.0
22                       BA           1.0
23                       BA           1.0
24                       BS           1.0
25                       MS           2.0
26                       BA           1.0
27                       BA           1.0
28                       BE           1.0
29          MBA With Honors           2.0
...                     ...           ...
109580                   BS           1.0
109581                  MBA           2.0
109582            bachelors           1.0
109583                   BS           1.0
109584                   JD           1.0
109585                                1.0
109586                   JD           1.0
109587                  BBA           1.0
109588                 B.S.           1.0
109589               M.B.A.           2.0
109590                 J.D.           1.0
109591  Bachelor of Science           1.0
109592    Master of Science           2.0
109593         Juris Doctor           1.0
109594                  MBA           2.0
109595                 B.S.           1.0
109596                 M.S.           2.0
109597                   BS           1.0
109598                  MBA           2.0
109599                  MBA           2.0
109600                 B.A.           1.0
109601              Masters           2.0
109602                 B.S.           1.0
109603              Masters           2.0
109604                 B.S.           1.0
109605                  CPA           1.0
109606              MS & BS           2.0
109607                  PhD           3.0
109608                 B.S.           1.0
109609                 J.D.           1.0

[109610 rows x 2 columns]

In [56]:
degrees.loc[degrees['degree_score'].isnull()]['degree_type'].describe()

count     0
unique    0
Name: degree_type, dtype: int64

In [57]:
len(degrees)

109610

In [58]:
degrees.drop_duplicates(subset=['object_id','degree_type'],inplace=True)

In [59]:
baseline_data = pd.merge(baseline_data, degrees, how='left', left_on=['object_id','degree_type'], right_on=['object_id','degree_type'])

In [60]:
baseline_data['degree_score'].fillna(np.nanmedian(baseline_data['degree_score']), inplace=True)

In [61]:
len(baseline_data)

99327

In [62]:
len(baseline_data)

99327

In [63]:
# education[['object_id','degree_score','degree_type']]
baseline_data[['degree_score','degree_type']]

       degree_score     degree_type
0               1.0
1               1.0
2               1.0
3               1.0            None
4               1.0            None
5               1.0            None
6               1.0            None
7               1.0
8               0.0       No degree
9               1.0              BS
10              1.0            None
11              2.0             MBA
12              1.0              BS
13              1.0              BA
14              1.0              BA
15              1.0              BS
16              1.0              BA
17              1.0              BA
18              1.0              BS
19              1.0              BA
20              1.0            None
21              1.0
22              0.0       No degree
23              1.0              BS
24              1.0            None
25              2.0             MBA
26              1.0              BS
27              1.0              BA
28              1.0              BA
29              1.0              BS
...             ...             ...
99297           1.0            None
99298           1.0            None
99299           1.0
99300           1.0            None
99301           1.0            None
99302           1.0            None
99303           1.0            None
99304           1.0
99305           1.0            None
99306           1.0            None
99307           1.0            None
99308           1.0            None
99309           1.0            None
99310           1.0            None
99311           1.0            None
99312           1.0            None
99313           1.0              BA
99314           1.0            None
99315           1.0            None
99316           1.0
99317           1.0              BA
99318           1.0
99319           3.0  PhD (on leave)
99320           1.0
99321           1.0            None
99322           1.0            None
99323           1.0            None
99324           1.0            None
99325           1.0            None
99326           1.0            None

[99327 rows x 2 columns]

In [64]:
education_with_no_persons = baseline_data[baseline_data['id_x'].isnull()]
person_with_no_education = baseline_data[baseline_data['id_y'].isnull()]
print "Education rows with no corresponding person",len(education_with_no_persons)
print "Persons with no details about their education",len(person_with_no_education)

Education rows with no corresponding person 0
Persons with no details about their education 54265

In [65]:
education_with_no_persons = education[education['id_x'].isnull()]
person_with_no_education = education[education['id_y'].isnull()]
print "Education rows with no corresponding person",len(education_with_no_persons)
print "Persons with no details about their education",len(person_with_no_education)

NameError: name 'education' is not defined

Next Steps: 
1. We have sparse data for education. What to do with it?
2. How to clean workex data?

#### Funding Rounds

In [66]:
len(funding_rounds)

52928

In [67]:
work_ex_funding = pd.merge(work_ex, funding_rounds,how='inner', left_on='relationship_object_id', right_on='object_id')

In [68]:
len(work_ex_funding)

312447

In [69]:
work_ex_funding[:5]
funding_rounds['funded_at_datetime']= pd.to_datetime(funding_rounds['funded_at'])
funding_rounds[['funded_at_datetime','funded_at']]

      funded_at_datetime   funded_at
0             2006-12-01  2006-12-01
1             2004-09-01  2004-09-01
2             2005-05-01  2005-05-01
3             2006-04-01  2006-04-01
4             2006-05-01  2006-05-01
5             2007-01-01  2007-01-01
6             2007-03-01  2007-03-01
7             2005-12-01  2005-12-01
8             2007-05-01  2007-05-01
9             2006-06-01  2006-06-01
10            2007-01-01  2007-01-01
11            2007-06-01  2007-06-01
12            2007-06-01  2007-06-01
13            2007-06-01  2007-06-01
14            2007-01-01  2007-01-01
15            2005-06-01  2005-06-01
16            2007-06-01  2007-06-01
17            2007-05-09  2007-05-09
18            2002-11-01  2002-11-01
19            2003-07-01  2003-07-01
20            2007-06-01  2007-06-01
21            2006-06-01  2006-06-01
22            2004-09-01  2004-09-01
23            2006-05-01  2006-05-01
24            2007-02-01  2007-02-01
25            2004-04-01  2004-04-01
26            2007-02-01  2007-02-01
27            2007-06-01  2007-06-01
28            2007-07-01  2007-07-01
29            2006-04-01  2006-04-01
...                  ...         ...
52898         2010-02-03  2010-02-03
52899         2013-12-11  2013-12-11
52900         2013-12-12  2013-12-12
52901         2013-12-12  2013-12-12
52902         2010-02-03  2010-02-03
52903         2013-12-11  2013-12-11
52904         2013-12-12  2013-12-12
52905         2010-02-03  2010-02-03
52906         2013-12-11  2013-12-11
52907         2010-02-03  2010-02-03
52908         2010-02-03  2010-02-03
52909         2013-12-11  2013-12-11
52910         2010-02-03  2010-02-03
52911         2010-04-07  2010-04-07
52912         2010-04-07  2010-04-07
52913         2010-02-03  2010-02-03
52914         2010-02-04  2010-02-04
52915         2013-12-12  2013-12-12
52916         2013-10-24  2013-10-24
52917         2013-12-12  2013-12-12
52918         2010-02-05  2010-02-05
52919         2010-04-07  2010-04-07
52920         2010-02-06  2010-02-06
52921         2013-12-12  2013-12-12
52922         2010-04-07  2010-04-07
52923         2013-12-12  2013-12-12
52924         2010-02-06  2010-02-06
52925         2010-02-06  2010-02-06
52926         2013-12-12  2013-12-12
52927         2010-04-07  2010-04-07

[52928 rows x 2 columns]

In [70]:
kevin = work_ex_funding[work_ex_funding['id_x']=='p:3']
kevin[['title','funded_at']]
kevin

,id_x,entity_type,entity_id,parent_id,name,normalized_name,permalink,category_code,status,founded_at,...,post_money_valuation,post_money_currency_code,participants,is_first_round,is_last_round,source_url,source_description,created_by_y,created_at,updated_at
3,p:3,Person,3,NaN,Kevin Flaherty,kevin flaherty,/person/kevin-flaherty,NaN,operating,NaN,...,NaN,None,2,0,1,http://seattlepi.nwsource.com/business/246734_...,None,initial-importer,2007-11-07 01:01:43,2008-05-19 03:39:17
4,p:3,Person,3,NaN,Kevin Flaherty,kevin flaherty,/person/kevin-flaherty,NaN,operating,NaN,...,NaN,None,3,0,0,http://pulse2.com/2007/01/09/wiki-builder-webs...,None,initial-importer,2007-11-07 01:05:01,2008-05-19 03:39:17
5,p:3,Person,3,NaN,Kevin Flaherty,kevin flaherty,/person/kevin-flaherty,NaN,operating,NaN,...,NaN,None,4,1,0,http://www.accel.com/news/news_one_up.php?news...,Accel,mike,2008-05-19 03:39:17,2008-11-04 04:24:30
213,p:3,Person,3,NaN,Kevin Flaherty,kevin flaherty,/person/kevin-flaherty,NaN,operating,NaN,...,NaN,None,0,0,1,None,None,None,2012-01-07 18:44:26,2012-01-15 01:55:50
214,p:3,Person,3,NaN,Kevin Flaherty,kevin flaherty,/person/kevin-flaherty,NaN,operating,NaN,...,NaN,None,4,1,0,http://www.salesportal.com/public-site/pdf/pre...,Sales Portal Secures Equity Investment,None,2012-01-07 19:11:39,2012-01-09 23:31:53
237,p:3,Person,3,NaN,Kevin Flaherty,kevin flaherty,/person/kevin-flaherty,NaN,operating,NaN,...,NaN,None,1,1,1,http://www.finsmes.com/2012/10/ritani-raises-1...,Ritani Raises $15M in Funding,timircha,2012-10-12 03:53:12,2012-10-12 03:53:12

In [ ]:
kevin1 = work_ex[work_ex['id_x']=='p:3']
# kevin1[['title','funded_at']]
# kevin1['start_at_datetime'] = pd.to_datetime(kevin['start_at'].dropna(),yearfirst = True)
# pd.to_datetime(kevin['end_at'])
# pd.to_datetime(kevin['end_at'],infer_datetime_format=True)
# kevin1[['start_at', 'end_at','start_at_datetime', 'end_at_datetime']]
# kevin1[['start_at', 'end_at']]
# pd.to_datetime(kevin1['start_at'].dropna())

In [ ]:
a = '2001-02-01'
pd.to_datetime(a)

In [ ]:
a = work_ex[:5].groupby('id_x')
work_ex[:10]

### Train Test and Evaluation Data

We need to divide the data into train test and evaluation data. We will divide it in the following ratio:

1.Train - 60%

2.Test - 20%

3.Evaluation - 20%

### Baseline Model

Our baseline model is dependent on Education and work experience of the founder. We will train our linear regression model on the score of the founder based on the above 2 features and run it on the test data. 

We will then find the error rate of our baseline model on the test data.

In [71]:
baseline_data['work_ex_score'] = baseline_data['funded_at'] - baseline_data['start_at']

In [72]:
baseline_data = pd.merge(companies, baseline_data, how='inner', left_on ='id', right_on='id_x')

In [73]:
negative_dates = baseline_data.loc[baseline_data['work_ex_score']<pd.Timedelta('0 days')]

In [74]:
len(negative_dates)

11284

In [192]:
baseline_data[['funded_at','start_at','work_ex_score']]

        funded_at    start_at  work_ex_score
0      2005-10-01  1973-01-01     11961 days
1      2005-10-01  2005-10-17         0 days
2      2005-10-01  1901-01-01     38259 days
3      2005-10-01  2007-01-01         0 days
4      2007-01-01  1973-01-01     12418 days
5      2007-01-01  2005-10-17       441 days
6      2007-01-01  1901-01-01     38716 days
7      2007-01-01  2007-01-01         0 days
8      2008-05-19  1973-01-01     12922 days
9      2008-05-19  2005-10-17       945 days
10     2008-05-19  1901-01-01     39220 days
11     2008-05-19  2007-01-01       504 days
12     2006-12-01  2005-07-01       518 days
13     2006-12-01  2012-04-01       781 days
14     2006-12-01  2004-09-01       821 days
15     2006-12-01  1996-01-01      3987 days
16     2006-12-01  2005-01-01       699 days
17     2006-12-01  2011-07-01       781 days
18     2006-12-01  2013-02-01       781 days
19     2005-10-01  2005-07-01        92 days
20     2005-10-01  2012-04-01       355 days
21     2005-10-01  2004-09-01       395 days
22     2005-10-01  1996-01-01      3561 days
23     2005-10-01  2005-01-01       273 days
24     2005-10-01  2011-07-01       355 days
25     2005-10-01  2013-02-01       355 days
26     2008-09-24  2005-07-01      1181 days
27     2008-09-24  2012-04-01      1444 days
28     2008-09-24  2004-09-01      1484 days
29     2008-09-24  1996-01-01      4650 days
...           ...         ...            ...
99297  2013-05-31         NaN            NaT
99298  2013-05-31         NaN            NaT
99299  2013-05-31         NaN            NaT
99300  2013-12-10  2009-01-01      1804 days
99301  2013-12-11  2011-01-01      1075 days
99302  2010-04-15  2009-01-01       469 days
99303  2010-04-15  2009-01-01       469 days
99304  2013-12-11  1985-01-01     10571 days
99305  2013-12-11  2005-01-01      3266 days
99306  2010-04-15  2006-01-01      1565 days
99307  2010-04-15  2006-01-01      1565 days
99308  2013-12-12  2006-01-01      2902 days
99309  2013-12-12         NaN            NaT
99310  2010-01-29         NaN            NaT
99311  2010-01-29         NaN            NaT
99312  2013-12-12  1974-04-04     14497 days
99313  2013-12-12         NaN            NaT
99314  2010-02-02  2006-01-01      1493 days
99315  2010-02-02  2006-01-01      1493 days
99316  2010-02-02  2009-01-01       397 days
99317  2010-02-02  2009-01-01       397 days
99318  2013-12-12         NaN            NaT
99319  2013-12-12         NaN            NaT
99320  2013-12-12         NaN            NaT
99321  2013-12-12  2013-05-01       225 days
99322  2013-12-12  1952-10-01     22352 days
99323  2010-04-07         NaN            NaT
99324  2010-04-07         NaN            NaT
99325  2010-02-05  1998-01-01      4418 days
99326  2010-04-07         NaN            NaT

[99327 rows x 3 columns]

In [76]:
for index,row in negative_dates.iterrows():
#     print row['funded_at'], companies.loc[companies['id']== row['id_x'],'founded_at']
#     print row['funded_at'] - companies.loc[companies['id']== row['id_x'],'founded_at']
#     print row['work_ex_score']
    if  row['funded_at'] and row['founded_at']:
        baseline_data.loc[index,'work_ex_score'] = row['funded_at'] - row['founded_at']
        row['work_ex_score']
#     baseline_data.loc[baseline_data['object_id']==row['object_id'],'work_ex_score'] = row['work_ex_score']
#     print baseline_data.loc[baseline_data['object_id']==row['object_id'],'work_ex_score']

In [77]:
len(baseline_data)

99327

In [78]:
 baseline_data.loc[baseline_data['work_ex_score']<pd.Timedelta('0 days'),'work_ex_score'] = 0

In [79]:
baseline_data.columns

Index([u'id', u'entity_type', u'entity_id', u'parent_id', u'name_x',
       u'normalized_name', u'permalink', u'category_code', u'status',
       u'founded_at', u'closed_at', u'domain', u'homepage_url',
       u'twitter_username', u'logo_url', u'logo_width', u'logo_height',
       u'short_description', u'description', u'overview', u'tag_list',
       u'country_code', u'state_code', u'city', u'region',
       u'first_investment_at', u'last_investment_at', u'investment_rounds',
       u'invested_companies', u'first_funding_at', u'last_funding_at',
       u'funding_rounds', u'funding_total_usd', u'first_milestone_at',
       u'last_milestone_at', u'milestones', u'relationships', u'created_by',
       u'created_at_x', u'updated_at_x', u'degree_type', u'object_id',
       u'start_at', u'title', u'first_name', u'last_name', u'name_y', u'id_x',
       u'funding_round_id', u'funded_at', u'funding_round_code',
       u'funding_round_type', u'data_class', u'id_y', u'subject',
       u'institution', u'graduated_at', u'created_at_y', u'updated_at_y',
       u'degree_score', u'work_ex_score'],
      dtype='object')

In [80]:
baseline_data.columns#.drop_duplicates(inplace=True)

Index([u'id', u'entity_type', u'entity_id', u'parent_id', u'name_x',
       u'normalized_name', u'permalink', u'category_code', u'status',
       u'founded_at', u'closed_at', u'domain', u'homepage_url',
       u'twitter_username', u'logo_url', u'logo_width', u'logo_height',
       u'short_description', u'description', u'overview', u'tag_list',
       u'country_code', u'state_code', u'city', u'region',
       u'first_investment_at', u'last_investment_at', u'investment_rounds',
       u'invested_companies', u'first_funding_at', u'last_funding_at',
       u'funding_rounds', u'funding_total_usd', u'first_milestone_at',
       u'last_milestone_at', u'milestones', u'relationships', u'created_by',
       u'created_at_x', u'updated_at_x', u'degree_type', u'object_id',
       u'start_at', u'title', u'first_name', u'last_name', u'name_y', u'id_x',
       u'funding_round_id', u'funded_at', u'funding_round_code',
       u'funding_round_type', u'data_class', u'id_y', u'subject',
       u'institution', u'graduated_at', u'created_at_y', u'updated_at_y',
       u'degree_score', u'work_ex_score'],
      dtype='object')

In [130]:
baseline_data.fillna(np.NaN, inplace=True)
# baseline_data[baseline_data['closed_at']==np.NaN]
closed_rows = baseline_data[pd.notnull(baseline_data['closed_at'])]
closed_rows['class'] = 1
current_companies = baseline_data[pd.isnull(baseline_data['closed_at'])]
current_companies['class'] = 0

/Library/Python/2.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Library/Python/2.7/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [275]:
negative_samples = baseline_data.loc[pd.notnull(baseline_data['closed_at'])]
baseline_data.loc[pd.isnull(baseline_data['closed_at']),'class'] = 0

In [276]:
negative_samples.loc[:,'class'] = 1
baseline_data.loc[:,'class'] = 0

In [277]:
negative_samples = negative_samples.reset_index()

In [305]:
for i, row in negative_samples.iterrows():
    code = funding_round_order[(funding_round_order['funding_round_code']==row['funding_round_code']).astype(bool) & 
                                 (funding_round_order['funding_round_type']==row['funding_round_type']).astype(bool)]
    negative_samples.set_value(i,'funding_round_code', code.iloc[0,2])

In [308]:
negative_samples[['name_x','funding_round_code']]#['funding_round_code']
# baseline_data.loc[pd.notnull(baseline_data['closed_at'])]['funding_round_code']

                               name_x funding_round_code
0                           Omnidrive           series-a
1                           Omnidrive           series-a
2                              Wis.dm           series-b
3                              Wis.dm           series-b
4                            Babelgum           series-b
5                            Babelgum           series-b
6                     Video Passports           series-a
7                               Thoof           series-a
8                              Wesabe           series-a
9                              Wesabe           series-a
10                             Wesabe           series-b
11                             Wesabe           series-b
12                              Jangl           series-c
13                              Jangl           series-c
14                              Jangl           series-c
15                              Jangl           series-c
16                              Jangl           series-b
17                              Jangl           series-b
18                              Jangl           series-b
19                              Jangl           series-b
20                           Hyphen 8           series-a
21                           AllPeers           series-b
22                           AllPeers           series-b
23                           AllPeers           series-b
24                           AllPeers           series-b
25                                EQO           series-c
26                                EQO           series-c
27                                EQO           series-c
28                                EQO           series-c
29                                EQO           series-c
...                               ...                ...
3826                        TrovaGene               seed
3827                        TrovaGene               seed
3828               Bioconnect Systems               seed
3829               Bioconnect Systems               seed
3830               Bioconnect Systems               seed
3831                    Surfwax Media               seed
3832                         MakuCell               seed
3833                         MakuCell               seed
3834                        Placeling           series-a
3835                        Placeling           series-a
3836                        Revnetics           series-a
3837                            i'mma           series-a
3838                           Vessix           series-a
3839                           Ratify               seed
3840                           Ratify               seed
3841           Certain Communications               seed
3842           Certain Communications               seed
3843  Machine Perception Technologies           series-b
3844  Machine Perception Technologies           series-b
3845  Machine Perception Technologies           series-b
3846                 Quantus Holdings               seed
3847                  iPractice Group               seed
3848                  iPractice Group               seed
3849                        Ludi labs           series-c
3850                      eTech Money               seed
3851                              Yub               seed
3852                              Yub               seed
3853                              Yub               seed
3854                              Yub               seed
3855                              Yub               seed

[3856 rows x 2 columns]

In [310]:
baseline_data = pd.concat([baseline_data, negative_samples])

In [311]:
len(baseline_data)

103183

In [146]:
a = companies[pd.notnull(companies['closed_at'])]['last_funding_at']

In [155]:
len(baseline_data[baseline_data['class']==1]['name_x'].unique())

1276

In [ ]:
pd.concat()

In [148]:
companies[pd.notnull(a)]

/Library/Python/2.7/site-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

IndexingError: Unalignable boolean Series key provided

In [316]:
final_data  = baseline_data[['name_x','work_ex_score','degree_score',u'funding_round_code',
               'first_name','last_name','funded_at','class']]#.groupby('funded_at').sum()

In [317]:
final_data =  final_data.reset_index()
final_data

,index,name_x,work_ex_score,degree_score,funding_round_code,first_name,last_name,funded_at,class
0,0,Wetpaint,11961 days,1.0,a,Ben,Elowitz,2005-10-01,0
1,1,Wetpaint,0 days,1.0,a,Michael,Howell,2005-10-01,0
2,2,Wetpaint,38259 days,1.0,a,Brian,Watkins,2005-10-01,0
3,3,Wetpaint,0 days,1.0,a,Bert,Hogue,2005-10-01,0
4,4,Wetpaint,12418 days,1.0,b,Ben,Elowitz,2007-01-01,0
5,5,Wetpaint,441 days,1.0,b,Michael,Howell,2007-01-01,0
6,6,Wetpaint,38716 days,1.0,b,Brian,Watkins,2007-01-01,0
7,7,Wetpaint,0 days,1.0,b,Bert,Hogue,2007-01-01,0
8,8,Wetpaint,12922 days,1.0,c,Ben,Elowitz,2008-05-19,0
9,9,Wetpaint,945 days,1.0,c,Michael,Howell,2008-05-19,0
10,10,Wetpaint,39220 days,1.0,c,Brian,Watkins,2008-05-19,0
11,11,Wetpaint,504 days,1.0,c,Bert,Hogue,2008-05-19,0
12,12,Digg,518 days,1.0,b,Jay,Adelson,2006-12-01,0
13,13,Digg,781 days,1.0,b,Mike,Maser,2006-12-01,0
14,14,Digg,821 days,1.0,b,Kevin,Rose,2006-12-01,0
15,15,Digg,3987 days,1.0,b,Matt,Williams,2006-12-01,0
16,16,Digg,699 days,1.0,b,John,Moffett,2006-12-01,0
17,17,Digg,781 days,1.0,b,Bennett,Thuener,2006-12-01,0
18,18,Digg,781 days,1.0,b,Andrew,McLaughlin,2006-12-01,0
19,19,Digg,92 days,1.0,a,Jay,Adelson,2005-10-01,0
20,20,Digg,355 days,1.0,a,Mike,Maser,2005-10-01,0
21,21,Digg,395 days,1.0,a,Kevin,Rose,2005-10-01,0
22,22,Digg,3561 days,1.0,a,Matt,Williams,2005-10-01,0
23,23,Digg,273 days,1.0,a,John,Moffett,2005-10-01,0
24,24,Digg,355 days,1.0,a,Bennett,Thuener,2005-10-01,0
25,25,Digg,355 days,1.0,a,Andrew,McLaughlin,2005-10-01,0
26,26,Digg,1181 days,1.0,c,Jay,Adelson,2008-09-24,0
27,27,Digg,1444 days,1.0,c,Mike,Maser,2008-09-24,0
28,28,Digg,1484 days,1.0,c,Kevin,Rose,2008-09-24,0
29,29,Digg,4650 days,1.0,c,Matt,Williams,2008-09-24,0
...,...,...,...,...,...,...,...,...,...
103153,3826,TrovaGene,4834 days,1.0,seed,Stephen,Zaniboni,2012-03-27,1
103154,3827,TrovaGene,4834 days,1.0,seed,Mark,Erlander,2012-03-27,1
103155,3828,Bioconnect Systems,2531 days,1.0,seed,Adam,Dakin,2012-12-06,1
103156,3829,Bioconnect Systems,2203 days,1.0,seed,Adam,Dakin,2012-01-13,1
103157,3830,Bioconnect Systems,2824 days,1.0,seed,Adam,Dakin,2013-09-25,1
103158,3831,Surfwax Media,1062 days,1.0,seed,Brian,Long,2012-11-28,1
103159,3832,MakuCell,1012 days,1.0,seed,Lawrence,A. Rheins,2012-10-09,1
103160,3833,MakuCell,1012 days,1.0,seed,Michael,Kahn,2012-10-09,1
103161,3834,Placeling,45 days,2.0,series-a,Ian,MacKinnon,2011-08-15,1
103162,3835,Placeling,5705 days,2.0,series-a,Lindsay,Watt,2011-08-15,1
103163,3836,Revnetics,546 days,1.0,series-a,Kamal,Ravikant,2010-07-01,1
103164,3837,i'mma,7 days,1.0,series-a,Aditya,Rao,2013-07-08,1
103165,3838,Vessix,2445 days,1.0,series-a,Raymond,W. Cohen,2012-09-11,1
103166,3839,Ratify,979 days,1.0,seed,Kurt,Kolb,2012-09-06,1
103167,3840,Ratify,979 days,1.0,seed,Alexandra,Eikenbary,2012-09-06,1
103168,3841,Certain Communications,1344 days,1.0,seed,Vincent,J. Arena,2012-09-06,1
103169,3842,Certain Communications,1344 days,1.0,seed,Todd,A. Steiner,2012-09-06,1
103170,3843,Machine Perception Technologies,1676 days,1.0,series-b,Javier,R. Movellan,2012-08-03,1
103171,3844,Machine Perception Technologies,2771 days,1.0,series-b,Stanley,Kim,2012-08-03,1
103172,3845,Machine Perception Technologies,1676 days,1.0,series-b,Gwen,Littlewort Ford,2012-08-03,1
103173,3846,Quantus Holdings,NaT,1.0,seed,James,Romeo,2012-06-20,1
103174,3847,iPractice Group,1228 days,1.0,seed,Ting,Chang,2012-05-13,1
103175,3848,iPractice Group,5187 days,1.0,seed,Jason,Morgan,2012-05-13,1
103176,3849,Ludi labs,5040 days,1.0,series-c,Scott,Gilbertson,2005-10-19,1
103177,3850,eTech Money,850 days,1.0,seed,Steven,Tye,2012-04-30,1
103178,3851,Yub,2728 days,1.0,seed,Alex,Rampell,2013-11-19,1
103179,3852,Yub,322 days,1.0,seed,Eoin,Matthews,2013-11-19,1
103180,3853,Yub,322 days,1.0,seed,Jared,Morgenstern,2013-11-19,1
103181,3854,Yub,2636 days,1.0,seed,Eddie,Lim,2013-11-19,1
103182,3855,Yub,2636 days,1.0,seed,Eddie,Lim,2013-11-19,1

In [318]:
final_data.drop_duplicates(inplace=True)

In [319]:
final_data['work_ex_score'].fillna(0,inplace=True)

In [320]:
final_data['work_ex_score_i'] = (final_data['work_ex_score']/ np.timedelta64(1, 'D')).astype(int)

In [321]:
final_data['work_ex_score_i'] = np.ceil(final_data['work_ex_score_i']/365)

In [322]:
final_data

,index,name_x,work_ex_score,degree_score,funding_round_code,first_name,last_name,funded_at,class,work_ex_score_i
0,0,Wetpaint,11961 days,1.0,a,Ben,Elowitz,2005-10-01,0,33.0
1,1,Wetpaint,0 days,1.0,a,Michael,Howell,2005-10-01,0,0.0
2,2,Wetpaint,38259 days,1.0,a,Brian,Watkins,2005-10-01,0,105.0
3,3,Wetpaint,0 days,1.0,a,Bert,Hogue,2005-10-01,0,0.0
4,4,Wetpaint,12418 days,1.0,b,Ben,Elowitz,2007-01-01,0,35.0
5,5,Wetpaint,441 days,1.0,b,Michael,Howell,2007-01-01,0,2.0
6,6,Wetpaint,38716 days,1.0,b,Brian,Watkins,2007-01-01,0,107.0
7,7,Wetpaint,0 days,1.0,b,Bert,Hogue,2007-01-01,0,0.0
8,8,Wetpaint,12922 days,1.0,c,Ben,Elowitz,2008-05-19,0,36.0
9,9,Wetpaint,945 days,1.0,c,Michael,Howell,2008-05-19,0,3.0
10,10,Wetpaint,39220 days,1.0,c,Brian,Watkins,2008-05-19,0,108.0
11,11,Wetpaint,504 days,1.0,c,Bert,Hogue,2008-05-19,0,2.0
12,12,Digg,518 days,1.0,b,Jay,Adelson,2006-12-01,0,2.0
13,13,Digg,781 days,1.0,b,Mike,Maser,2006-12-01,0,3.0
14,14,Digg,821 days,1.0,b,Kevin,Rose,2006-12-01,0,3.0
15,15,Digg,3987 days,1.0,b,Matt,Williams,2006-12-01,0,11.0
16,16,Digg,699 days,1.0,b,John,Moffett,2006-12-01,0,2.0
17,17,Digg,781 days,1.0,b,Bennett,Thuener,2006-12-01,0,3.0
18,18,Digg,781 days,1.0,b,Andrew,McLaughlin,2006-12-01,0,3.0
19,19,Digg,92 days,1.0,a,Jay,Adelson,2005-10-01,0,1.0
20,20,Digg,355 days,1.0,a,Mike,Maser,2005-10-01,0,1.0
21,21,Digg,395 days,1.0,a,Kevin,Rose,2005-10-01,0,2.0
22,22,Digg,3561 days,1.0,a,Matt,Williams,2005-10-01,0,10.0
23,23,Digg,273 days,1.0,a,John,Moffett,2005-10-01,0,1.0
24,24,Digg,355 days,1.0,a,Bennett,Thuener,2005-10-01,0,1.0
25,25,Digg,355 days,1.0,a,Andrew,McLaughlin,2005-10-01,0,1.0
26,26,Digg,1181 days,1.0,c,Jay,Adelson,2008-09-24,0,4.0
27,27,Digg,1444 days,1.0,c,Mike,Maser,2008-09-24,0,4.0
28,28,Digg,1484 days,1.0,c,Kevin,Rose,2008-09-24,0,5.0
29,29,Digg,4650 days,1.0,c,Matt,Williams,2008-09-24,0,13.0
...,...,...,...,...,...,...,...,...,...,...
103153,3826,TrovaGene,4834 days,1.0,seed,Stephen,Zaniboni,2012-03-27,1,14.0
103154,3827,TrovaGene,4834 days,1.0,seed,Mark,Erlander,2012-03-27,1,14.0
103155,3828,Bioconnect Systems,2531 days,1.0,seed,Adam,Dakin,2012-12-06,1,7.0
103156,3829,Bioconnect Systems,2203 days,1.0,seed,Adam,Dakin,2012-01-13,1,7.0
103157,3830,Bioconnect Systems,2824 days,1.0,seed,Adam,Dakin,2013-09-25,1,8.0
103158,3831,Surfwax Media,1062 days,1.0,seed,Brian,Long,2012-11-28,1,3.0
103159,3832,MakuCell,1012 days,1.0,seed,Lawrence,A. Rheins,2012-10-09,1,3.0
103160,3833,MakuCell,1012 days,1.0,seed,Michael,Kahn,2012-10-09,1,3.0
103161,3834,Placeling,45 days,2.0,series-a,Ian,MacKinnon,2011-08-15,1,1.0
103162,3835,Placeling,5705 days,2.0,series-a,Lindsay,Watt,2011-08-15,1,16.0
103163,3836,Revnetics,546 days,1.0,series-a,Kamal,Ravikant,2010-07-01,1,2.0
103164,3837,i'mma,7 days,1.0,series-a,Aditya,Rao,2013-07-08,1,1.0
103165,3838,Vessix,2445 days,1.0,series-a,Raymond,W. Cohen,2012-09-11,1,7.0
103166,3839,Ratify,979 days,1.0,seed,Kurt,Kolb,2012-09-06,1,3.0
103167,3840,Ratify,979 days,1.0,seed,Alexandra,Eikenbary,2012-09-06,1,3.0
103168,3841,Certain Communications,1344 days,1.0,seed,Vincent,J. Arena,2012-09-06,1,4.0
103169,3842,Certain Communications,1344 days,1.0,seed,Todd,A. Steiner,2012-09-06,1,4.0
103170,3843,Machine Perception Technologies,1676 days,1.0,series-b,Javier,R. Movellan,2012-08-03,1,5.0
103171,3844,Machine Perception Technologies,2771 days,1.0,series-b,Stanley,Kim,2012-08-03,1,8.0
103172,3845,Machine Perception Technologies,1676 days,1.0,series-b,Gwen,Littlewort Ford,2012-08-03,1,5.0
103173,3846,Quantus Holdings,0 days,1.0,seed,James,Romeo,2012-06-20,1,0.0
103174,3847,iPractice Group,1228 days,1.0,seed,Ting,Chang,2012-05-13,1,4.0
103175,3848,iPractice Group,5187 days,1.0,seed,Jason,Morgan,2012-05-13,1,15.0
103176,3849,Ludi labs,5040 days,1.0,series-c,Scott,Gilbertson,2005-10-19,1,14.0
103177,3850,eTech Money,850 days,1.0,seed,Steven,Tye,2012-04-30,1,3.0
103178,3851,Yub,2728 days,1.0,seed,Alex,Rampell,2013-11-19,1,8.0
103179,3852,Yub,322 days,1.0,seed,Eoin,Matthews,2013-11-19,1,1.0
103180,3853,Yub,322 days,1.0,seed,Jared,Morgenstern,2013-11-19,1,1.0
103181,3854,Yub,2636 days,1.0,seed,Eddie,Lim,2013-11-19,1,8.0
103182,3855,Yub,2636 days,1.0,seed,Eddie,Lim,2013-11-19,1,8.0

In [323]:
data = final_data.groupby(['name_x','funding_round_code'])[['degree_score','work_ex_score_i','class']].sum()

In [324]:
len(data)

34148

In [325]:
data = data.reset_index(1)

In [326]:
len(final_data['name_x'].unique())

20805

In [327]:
len(baseline_data['name_x'].unique())

20805

In [328]:
len(baseline_data)

103183

In [329]:
data

                  funding_round_code  degree_score  work_ex_score_i  class
name_x
#waywire                        seed           3.0             30.0      0
(In)Touch Network               seed           1.0              0.0      0
+n (PlusN)                      seed           2.0             10.0      0
1000 Markets                    seed           2.0              2.0      0
1000memories                       a           4.0              4.0      0
1000memories                    seed           4.0              0.0      0
1001 Menus                         a           3.0              9.0      0
100Plus                         seed           3.0              8.0      0
100Plus                 unattributed           3.0              8.0      0
1010data                unattributed           2.0             88.0      0
10BestThings                    seed           2.0              0.0      0
10BestThings                series-a           2.0              0.0      2
10X Technologies          debt_round           3.0              7.0      0
121cast                        grant           3.0             11.0      0
121cast                         seed           3.0             11.0      0
121nexus                       angel           2.0              4.0      0
121nexus                       grant           4.0             10.0      0
121nexus                        seed           4.0              4.0      0
123ContactForm                 angel           2.0              6.0      0
123people                       seed           7.0              4.0      0
12Society                       seed           2.0             10.0      0
1366 Technologies                  a           4.0              3.0      0
1366 Technologies                  b          12.0             23.0      0
1366 Technologies                  c           4.0             13.0      0
1366 Technologies              grant           4.0              9.0      0
1366 Technologies       unattributed           4.0              7.0      0
13th Lab                        seed           3.0              9.0      0
140 Proof                          a           4.0              2.0      0
140 Proof                          b           4.0             10.0      0
140Fire                         seed           2.0              5.0      0
...                              ...           ...              ...    ...
yavalu                         angel           2.0              2.0      0
yavalu                          seed           2.0              3.0      0
yoone                           seed           1.0              0.0      0
yoone                       series-a           1.0              0.0      1
yoonew                         angel           6.0             11.0      0
yoonew                      series-b           6.0             11.0      4
youcalc                            a           4.0              9.0      0
youcalc                         seed           8.0              9.0      0
youmag                         angel           4.0              0.0      0
younity               private_equity           4.0             16.0      0
younity                         seed           4.0             16.0      0
yuilop                             a           1.0              3.0      0
yuilop                          seed           1.0              2.0      0
zanda                           seed           1.0              1.0      0
zank                            seed           3.0              3.0      0
zappit                          seed           1.0              1.0      0
zePASS                             a           1.0              7.0      0
zeebox                         angel           4.0              5.0      0
zintin                         grant           4.0              3.0      0
zipcodemailer.com         debt_round           1.0              0.0      0
zoidu                           seed           1.0              1.0      0
zozi                               a           3.0             18.0      0
zozi                               b           6.0             40.0      0
zozi                            seed           3.0             12.0      0
zulily                             a           6.0              0.0      0
zulily                             b           6.0              5.0      0
zulily                             c           6.0              8.0      0
zulily                             d           6.0             13.0      0
zuuka!                  unattributed           4.0             14.0      0
zweitgeist              unattributed           1.0              1.0      0

[34148 rows x 4 columns]

In [330]:
data['funding_round_category'] = data['funding_round_code'].astype('category').cat.codes
positive = data[data['class']==0]
negative = data[data['class']==1]

In [332]:
def split_data(data):
    msk = np.random.rand(len(data)) < 0.8
    train_data = data[msk]
#     test = data[~msk]
#     msk = np.random.rand(len(test)) < 0.5
#     evaluation_data = test[msk]
    test_data = data[~msk]
    return train_data,test_data

In [333]:
from sklearn import svm

In [334]:

clf = svm.OneClassSVM(nu=0.1, kernel="rbf", gamma=0.1)

for i in xrange(5):
    train_data, test_data = split_data(positive)
    clf.fit(train_data[['degree_score','work_ex_score_i','funding_round_category']])
#     y_pred_train = clf.predict(train_data[['degree_score','work_ex_score_i','funding_round_category']])
    y_pred_test = clf.predict(test_data[['degree_score','work_ex_score_i','funding_round_category']])
    print "Train data ", len(train_data)
    print "Test data ", len(test_data)
    print "Error ", float(len(y_pred_test[y_pred_test==-1]))/float(len(y_pred_test))

Train data  26048
Test data  6511
Error  0.175088312087
Train data  26078
Test data  6481
Error  0.152908501774
Train data  25936
Test data  6623
Error  0.153253812472
Train data  26042
Test data  6517
Error  0.161730857757
Train data  25997
Test data  6562
Error  0.145839683023

In [335]:
y_pred_test = clf.predict(negative[['degree_score','work_ex_score_i','funding_round_category']])
print "Error ", float(len(y_pred_test[y_pred_test==-1]))/float(len(y_pred_test))

Error  0.854280510018

In [ ]:
len(y_pred_train[y_pred_train==-1])
len(y_pred_train)

In [ ]:
y_pred_test = clf.predict(test_data[['degree_score','work_ex_score_i','funding_round_category']])

In [ ]:
len(y_pred_test[y_pred_test==-1])
len(y_pred_test)

In [ ]:
y_pred_eval = clf.predict(evaluation_data[['degree_score','work_ex_score_i','funding_round_category']])

In [ ]:
len(y_pred_eval[y_pred_eval==-1])
len(y_pred_eval)

In [ ]:
len(data)

In [ ]:
persons.columns

In [ ]:
companies.fillna(np.nan)

In [ ]:
closed_companies = companies[companies['closed_at'].notnull()]

In [ ]:
pd.merge(funding_rounds, closed_companies, left_on='object_id', right_on='id')['object_id'].unique()

#### 2 Class SVM

In [336]:
from sklearn.svm import SVC
clf = SVC()

In [341]:

p = np.random.permutation(len(negative))
new_test_data = pd.concat([positive.iloc[p], negative])

In [348]:
for i in xrange(5):
    train_data, test_data = split_data(new_test_data)
    clf.fit(train_data[['degree_score','work_ex_score_i','funding_round_category']], train_data['class'])
#     y_pred_train = clf.predict(train_data[['degree_score','work_ex_score_i','funding_round_category']])
    y_pred_test = clf.predict(test_data[['degree_score','work_ex_score_i','funding_round_category']])
    print "Train data ", len(train_data)
    print "Test data ", len(test_data)
    error =  sum(abs(y_pred_test - test_data['class']))
    print "Error ", float(error/float(len(y_pred_test)))

Train data  870
Test data  228
Error  0.0394736842105
Train data  886
Test data  212
Error  0.0471698113208
Train data  880
Test data  218
Error  0.0779816513761
Train data  874
Test data  224
Error  0.0446428571429
Train data  887
Test data  211
Error  0.0568720379147

### Findings

In [15]:
companies['category_code'].unique()

array(['web', 'enterprise', 'software', 'news', 'social',
       'network_hosting', 'games_video', 'music', 'mobile', 'search',
       'advertising', 'messaging', 'security', 'photo_video', 'finance',
       'hardware', 'public_relations', 'ecommerce', 'travel', 'other',
       'medical', 'real_estate', 'semiconductor', 'consulting',
       'analytics', 'health', 'legal', 'sports', 'biotech', 'cleantech',
       'education', 'transportation', 'manufacturing', 'hospitality',
       'fashion', 'nanotech', 'nonprofit', 'automotive', None,
       'government', 'design', 'local', 'pets'], dtype=object)

In [18]:
len(companies[companies['founded_at'].isnull()])

105326