In [ ]:
% matplotlib inline
import MySQLdb
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
db = MySQLdb.connect(host="crunchbase.ckfkhzm7cot3.us-west-2.rds.amazonaws.com",
                     port=3306,
                     user="root",         # your username
                     passwd="root1234",  # your password
                     db="analytics_2")        # name of the data base

In [ ]:
cur = db.cursor()

In [455]:
len(persons)

NameError: name 'persons' is not defined

In [ ]:
count = cur.execute("SELECT count(*) FROM cb_objects")

#### Load into pandas dataframe from database

In [ ]:
df_mysql = pd.read_sql('select * from cb_objects LIMIT 100;', con=db)

In [456]:
persons = pd.read_sql('Select * from cb_objects where entity_type = \'Person\'', con=db)

In [ ]:
relationships = pd.read_sql('Select * from cb_relationships', con=db)

In [ ]:
degrees = pd.read_sql('Select * from cb_degrees', con=db)

In [476]:
funding_rounds = pd.read_sql('Select * from cb_funding_rounds', con=db)

In [421]:
baseline_data = pd.read_sql("Select * from cb_master_data_2", con=db)

In [ ]:
companies = pd.read_sql('Select * from cb_objects where entity_type = \'Company\'', con=db)

In [ ]:
degrees = baseline_data

In [ ]:
baseline_data[:5]

#### Fill nan for empty and None values

In [ ]:
degrees.fillna(value=np.nan, inplace=True)

In [ ]:
persons.fillna(value=np.nan, inplace=True)
relationships.fillna(value=np.nan, inplace=True)
degrees.fillna(value=np.nan, inplace=True)

#### People

For the baseline model we need to consider only people who are Founders, CEO, CIO etc

#### Work Experience

In [457]:
len(persons)

226708

In [459]:
work_ex = pd.merge(persons, relationships, how='inner', right_on='person_object_id', left_on='id')

In [460]:
print 'Total number of work ex rows', len(work_ex)

Total number of work ex rows 401957

In [461]:
workex_with_no_persons = work_ex[work_ex['id_x'].isnull()]
person_with_no_workex = work_ex[work_ex['id_y'].isnull()]
print "workex rows with no corresponding person",len(workex_with_no_persons)
print "Persons with no details about their workex",len(person_with_no_workex)

workex rows with no corresponding person 0
Persons with no details about their workex 0

In [462]:
print "Number of rows with no start_at for workex is: ",len(work_ex[work_ex['start_at'].isnull()]), "which is roughly half the number of rows"

Number of rows with no start_at for workex is:  195122 which is roughly half the number of rows

Idea : We can fill the start_at date with one of the following:
1. founding_date of the company
2. created_at_y which is when the record was created in the database

To analyse we can first build a plot of the different between the 2 and see the relation between the title, created at and founding date. It can mean that most of the founders have their profile created on crunchbase much later than the founding date, in which case we can safely use the founding date. However, for employess we an use the created_at.

In [507]:
work_ex['title'].unique

<bound method Series.unique of 0                         Co-Founder/CEO/Board of Directors
1                                           Co-founder & VP
2                                      Business Development
3                                           Limited Partner
4                                                Consultant
5                                                Consultant
6                                                Consultant
7                                                Consultant
8                                              VP Marketing
9                                           Limited Partner
10
11
12
13
14
15
16
17
18                                                   mentor
19                                               Evangelist
20
21
22
23                                           Marketing Head
24                      Senior Director Strategic Alliances
25                                         Owner. President
26                             Director Strategic Alliances
27        Director Business Development & Strategic Alli...
28                       Western Regional OEM Sales Manager
29                                               Co-founder
                                ...
401927                                       Vice President
401928                                                  CEO
401929                                     Business Analyst
401930                             Marketing and PR Manager
401931                                   Software Developer
401932                          Predictive Analytics Expert
401933                                                Sales
401934                                    President and CEO
401935                                   Co-founder and CEO
401936                                                  COO
401937                              Excecutive Board Member
401938                                                  COO
401939                                                  CFO
401940                                                  CEO
401941                                                  CEO
401942                                                  CEO
401943                                      President & CEO
401944                                                  CEO
401945                                                  CTO
401946                                                  CEO
401947                                                  CTO
401948                               Chief Business Officer
401949                                             Chairman
401950                     VP, Finance & Clinical Solutions
401951           Accounting Manager for Facts & Comparisons
401952                    Controller, Wolters Kluwer Health
401953    Director, Accounting - Professional & Educatio...
401954                                           Co-Founder
401955                                                  CEO
401956                                                  COO
Name: title, dtype: object>

This below line of code filters all the work ex where the person is one of the founding members or the board of directors

In [509]:
len(work_ex)

401957

In [520]:
founders = work_ex.loc[work_ex['id_x'].isin(work_ex.loc[work_ex['title'].str.contains('Cofounder', regex=True),'id_x'])]

In [521]:
founders['title']

1625                                          Board
1626                                      Cofounder
3454      CoFounder & Vice President of Engineering
3455                                Cofounder & CEO
3456                                Product Manager
3457                                            CEO
3458                                Cofounder & CEO
3459                                        Advisor
3460                                        Advisor
3461                                        Advisor
4270                                     NY Partner
4271                                   Board Member
4272                                      Cofounder
4273                               Business Advisor
4274                               Managing Partner
4275                                            EVP
4276                        Regional Advisory Board
4277       Co-Chairman & Co-Chief Executive Officer
4278                                 Advisory Board
4279                                     NY Partner
4280                                      Cofounder
4281                                       COO, EVP
4282                            Chairman and Co-CEO
4283                              Managing Director
4945                                      President
4946                                      Cofounder
4947                                      Cofounder
4948                                        Founder
4949                                     London guy
6684                                      Cofounder
                            ...
374923                                    Cofounder
375941                              COO - Cofounder
375942                              CTO - Cofounder
377633                                Cofounder/CEO
377634                                Cofounder/CTO
377670                            CEO and Cofounder
380896                            Cofounder and CEO
382213                                    Cofounder
382902                               CFO, Cofounder
387785                                    Cofounder
387786                                    Cofounder
387787                                    Cofounder
387788                                    Cofounder
388316                                    Cofounder
388433                              CEO / Cofounder
392794                              Cofounder & CEO
393646                            Cofounder and CEO
393647                            Cofounder and CRO
395369                              Cofounder & CTO
395375                              Cofounder & CDO
395428                              Cofounder & CTO
395429                              Cofounder & CTO
395430                              Cofounder & CEO
396389                                    Cofounder
397083                                    Cofounder
397084                                    Cofounder
398848                                    Cofounder
399465                                    Cofounder
399497                                    Cofounder
399498                                    Cofounder
Name: title, dtype: object

In [492]:
founders = work_ex.loc[work_ex['id_x'].isin(work_ex.loc[work_ex['title'].str.contains('Chief|C[A-Z]O|Co\-Founder|Co\-founder|Board', regex=True),'id_x'])]

In [465]:
founders['start_at'] = pd.to_datetime(founders['start_at'])
# import dateutil
# founderspd.to_datetime(founders['start_at'])
# founders['start_at']
# len(founders[founders['start_at'].isnull()])

/Library/Python/2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [ ]:
founders.groupby('id_x').min()#agg({'start_at':min})

In [ ]:
founder_groups = founders.groupby('id_x')#.agg({'start_at':pd.datetime})
founder_groups['start_at'].min()
founders[founders['id_x']=='p:99969']

In [468]:
import datetime
# pd.to_datetime(founders['start_at'])[5] > pd.to_datetime('2012-01-01')
np.min(pd.to_datetime(founders['start_at']))

Timestamp('1960-01-01 00:00:00')

TODO: Aggregate as the min of teh start_at, this will give the first date when work ex added

In [500]:
len(founders['relationship_object_id'].unique())

87682

In [477]:
funding_rounds

,id,funding_round_id,object_id,funded_at,funding_round_type,funding_round_code,raised_amount_usd,raised_amount,raised_currency_code,pre_money_valuation_usd,...,post_money_valuation,post_money_currency_code,participants,is_first_round,is_last_round,source_url,source_description,created_by,created_at,updated_at
0,1,1,c:4,2006-12-01,series-b,b,8500000.0,8500000.0,USD,NaN,...,NaN,None,2,0,0,http://www.marketingvox.com/archives/2006/12/2...,None,initial-importer,2007-07-04 04:52:57,2008-02-27 23:14:29
1,2,2,c:5,2004-09-01,angel,angel,500000.0,500000.0,USD,NaN,...,NaN,USD,2,0,1,None,None,initial-importer,2007-05-27 06:08:18,2013-06-28 20:07:23
2,3,3,c:5,2005-05-01,series-a,a,12700000.0,12700000.0,USD,115000000.0,...,NaN,USD,3,0,0,http://www.techcrunch.com/2007/11/02/jim-breye...,Jim Breyer: Extra $500 Million Round For Faceb...,initial-importer,2007-05-27 06:09:10,2013-06-28 20:07:23
3,4,4,c:5,2006-04-01,series-b,b,27500000.0,27500000.0,USD,525000000.0,...,NaN,USD,4,0,0,http://www.facebook.com/press/info.php?factsheet,Facebook Funding,initial-importer,2007-05-27 06:09:36,2013-06-28 20:07:24
4,5,5,c:7299,2006-05-01,series-b,b,10500000.0,10500000.0,USD,NaN,...,NaN,None,2,0,0,http://www.techcrunch.com/2006/05/14/photobuck...,PhotoBucket Closes $10.5M From Trinity Ventures,initial-importer,2007-05-29 11:05:59,2008-04-16 17:09:12
5,6,6,c:9,2007-01-01,series-a,a,1500000.0,1500000.0,USD,8500000.0,...,10000000.0,USD,1,0,1,None,None,initial-importer,2007-05-31 20:19:28,2009-01-19 18:29:39
6,7,7,c:9,2007-03-01,series-b,b,10000000.0,10000000.0,USD,100000000.0,...,110000000.0,USD,1,0,0,http://www.techcrunch.com/2007/03/05/100-milli...,100 Million Valuation for Geni,initial-importer,2007-05-31 20:35:03,2009-01-19 18:29:39
7,8,8,c:13,2005-12-01,series-a,seed,1500000.0,1500000.0,USD,NaN,...,NaN,None,4,0,0,http://www.techcrunch.com/2006/11/14/stumbleup...,StumbleUpon May Be For Sale: 50M,initial-importer,2007-06-01 19:14:34,2011-03-10 02:38:18
8,9,9,c:14,2007-05-01,series-a,a,6300000.0,6300000.0,USD,NaN,...,NaN,None,2,0,1,http://www.techcrunch.com/2007/05/31/gizmoz-la...,None,initial-importer,2007-06-01 20:09:47,2008-03-17 04:11:44
9,10,10,c:15,2006-06-01,angel,seed,12000.0,12000.0,USD,NaN,...,NaN,None,1,0,1,http://www.techcrunch.com/2007/03/06/scribd-yo...,"Scribd ""YouTube for Documents?"" Gets $300K",initial-importer,2007-06-02 07:36:21,2012-08-13 23:30:48
10,11,11,c:15,2007-01-01,angel,angel,40000.0,40000.0,USD,NaN,...,NaN,None,1,0,0,None,None,initial-importer,2007-06-02 07:38:17,2011-04-12 00:57:58
11,12,12,c:16,2007-06-01,series-b,b,40000000.0,40000000.0,USD,NaN,...,NaN,None,4,0,1,http://www.socaltech.com/slacker_raises_4_m/s-...,None,initial-importer,2007-06-04 08:48:44,2008-11-20 02:59:19
12,13,13,c:16,2007-06-01,series-a,a,13500000.0,13500000.0,USD,NaN,...,NaN,None,3,0,1,http://www.techcrunch.com/2007/03/14/new-music...,None,initial-importer,2007-06-05 05:56:34,2008-11-20 02:59:19
13,14,14,c:15,2007-06-01,series-a,a,3710000.0,3710000.0,USD,NaN,...,17500000.0,USD,6,0,0,None,None,initial-importer,2007-06-02 07:49:08,2008-06-02 21:46:48
14,16,16,c:18,2007-01-01,series-b,b,5700000.0,5700000.0,USD,NaN,...,NaN,None,2,0,0,None,company,initial-importer,2007-06-05 12:39:17,2011-08-22 21:33:27
15,17,17,c:26,2005-06-01,series-a,a,13200000.0,13200000.0,USD,NaN,...,NaN,None,1,1,1,http://www.redherring.com/Article.aspx?a=21800...,None,initial-importer,2007-06-09 10:18:10,2012-10-18 21:31:50
16,18,18,c:22,2007-06-01,series-a,a,1500000.0,1500000.0,USD,NaN,...,NaN,None,1,0,1,http://venturebeat.com/2007/06/06/meetmoi-rais...,None,initial-importer,2007-06-07 11:57:59,2012-09-27 02:47:19
17,19,19,c:23,2007-05-09,series-a,a,45000000.0,45000000.0,USD,NaN,...,NaN,None,3,1,1,http://www.lksf.org/eng/media/press/20070510.s...,Joost Announces $45 million Funding,initial-importer,2007-06-09 07:24:20,2010-02-24 18:50:18
18,20,20,c:27,2002-11-01,series-a,a,3800000.0,3800000.0,USD,NaN,...,7500000.0,USD,2,0,1,http://www.plaxo.com/about/releases/release-02...,Plaxo Press Release - 2/18/2003,initial-importer,2007-06-09 14:32:59,2008-05-20 20:43:02
19,21,21,c:27,2003-07-01,series-b,b,8500000.0,8500000.0,USD,NaN,...,33500000.0,USD,3,0,0,http://www.plaxo.com/about/releases/release-07...,Plaxo Press Release - 7/28/2003,initial-importer,2007-06-13 09:32:45,2008-05-20 20:43:02
20,22,22,c:30,2007-06-01,series-a,a,12500000.0,12500000.0,USD,NaN,...,42500000.0,USD,5,1,0,"http://www.powerset.com/press/seriesa, http://...",None,initial-importer,2007-06-11 19:36:06,2008-05-13 15:59:39
21,23,23,c:31,2006-06-01,series-c+,c,10520000.0,10520000.0,USD,NaN,...,NaN,None,3,0,0,http://www.svdaily.com/technorati.html,None,initial-importer,2007-06-12 04:31:19,2008-06-14 02:11:37
22,24,24,c:31,2004-09-01,series-b,b,6500000.0,6500000.0,USD,NaN,...,NaN,None,1,0,0,http://www.stockphototalk.com/phototalk/2004/0...,None,initial-importer,2007-06-12 05:22:48,2008-06-14 02:11:37
23,27,27,c:34,2006-05-01,series-a,a,2500000.0,2500000.0,USD,NaN,...,NaN,USD,2,0,1,http://venturebeat.com/2007/03/06/widget-compa...,"Widget company, Clearspring, says it leads mar...",initial-importer,2007-06-13 09:04:50,2013-09-06 11:20:07
24,28,28,c:34,2007-02-01,series-b,b,5500000.0,5500000.0,USD,NaN,...,15500000.0,USD,6,0,0,http://venturebeat.com/2007/03/06/widget-compa...,"Widget company, Clearspring, says it leads mar...",initial-importer,2007-06-13 09:05:28,2013-09-06 11:20:07
25,29,29,c:27,2004-04-01,series-c+,c,7000000.0,7000000.0,USD,NaN,...,64000000.0,USD,4,0,0,http://sanjose.bizjournals.com/sanjose/stories...,Plaxo connects to more funding,initial-importer,2007-06-13 09:33:11,2008-05-20 20:43:02
26,30,30,c:27,2007-02-01,series-c+,d,9000000.0,9000000.0,USD,NaN,...,122000000.0,USD,1,1,0,None,EDGAR,initial-importer,2007-06-13 09:33:45,2010-03-04 14:10:54
27,31,31,c:35,2007-06-01,series-a,a,5000000.0,5000000.0,USD,NaN,...,NaN,USD,4,0,1,http://www.techcrunch.com/2007/06/13/openads-o...,None,initial-importer,2007-06-13 18:26:31,2013-07-18 17:28:21
28,32,32,c:38,2007-07-01,series-a,a,2250000.0,2250000.0,USD,NaN,...,NaN,USD,4,0,1,http://www.kyte.tv/press/release/20070423.html,kyte.tv takes self expression to the next level,initial-importer,2007-06-14 18:34:46,2013-07-31 07:52:30
29,33,33,c:40,2006-04-01,series-b,b,12500000.0,12500000.0,USD,NaN,...,NaN,None,4,0,0,http://www.socaltech.com/veoh_gets_____m_from_...,"Veoh Gets $12.5M From Eisner, Others",initial-importer,2007-06-15 09:36:17,2008-06-03 19:26:18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52898,57923,57923,c:286180,2010-02-03,venture,unattributed,750000.0,750000.0,USD,NaN,...,NaN,USD,0,1,1,http://www.sec.gov/Archives/edgar/data/1482482...,SEC,santosh2013,2013-12-12 12:54:25,2013-12-12 12:54:25
52899,57924,57924,c:286179,2013-12-11,other,debt_round,525000.0,525000.0,USD,NaN,...,NaN,USD,0,1,1,http://www.sec.gov/Archives/edgar/data/1594007...,SEC,amit2013,2013-12-12 12:54:31,2013-12-12 12:54:31
52900,57925,57925,c:243568,2013-12-12,other,grant,800000.0,800000.0,USD,NaN,...,NaN,USD,0,1,0,http://jewishbusinessnews.com/2013/12/12/brain...,"BrainStorm Receives $800,000 Non-Dilutive Gran...",arun,2013-12-12 12:54:57,2013-12-12 12:54:57
52901,57926,57926,c:15847,2013-12-12,venture,unattributed,15000000.0,15000000.0,USD,NaN,...,NaN,USD,4,1,0,http://www.pehub.com/2013/12/mocana-raises-15-...,Mocana raises $15 mln in strategic funding; GE...,ramesh2013,2013-12-12 12:57:35,2013-12-12 12:57:35
52902,57927,57927,c:221090,2010-02-03,other,debt_round,1700000.0,1700000.0,USD,NaN,...,NaN,USD,0,0,1,http://www.sec.gov/Archives/edgar/data/1481632...,SEC,santosh2013,2013-12-12 13:02:12,2013-12-12 13:02:12
52903,57928,57928,c:286182,2013-12-11,venture,unattributed,500000.0,500000.0,USD,NaN,...,NaN,USD,0,1,1,http://www.sec.gov/Archives/edgar/data/1593866...,SEC,amit2013,2013-12-12 13:02:28,2013-12-12 13:02:28
52904,57929,57929,c:286183,2013-12-12,angel,seed,225000.0,225000.0,USD,NaN,...,NaN,USD,3,1,1,http://www.finsmes.com/2013/12/wedding-spot-ra...,Wedding Spot Raises $225K in Seed Funding,ramesh2013,2013-12-12 13:07:40,2013-12-12 13:07:40
52905,57930,57930,c:196653,2010-02-03,venture,unattributed,4000185.0,4000185.0,USD,NaN,...,NaN,USD,0,0,1,http://www.sec.gov/Archives/edgar/data/1482981...,SEC,santosh2013,2013-12-12 13:10:17,2013-12-12 13:10:17
52906,57931,57931,c:217789,2013-12-11,venture,unattributed,9329636.0,9329636.0,USD,NaN,...,NaN,USD,0,1,1,http://www.sec.gov/Archives/edgar/data/1589577...,SEC,amit2013,2013-12-12 13:10:24,2013-12-12 13:10:24
52907,57932,57932,c:67626,2010-02-03,other,debt_round,600000.0,600000.0,USD,NaN,...,NaN,USD,0,1,1,http://www.sec.gov/Archives/edgar/data/1339837...,SEC,santosh2013,2013-12-12 13:12:46,2013-12-12 13:12:46
52908,57933,57933,c:43826,2010-02-03,venture,partial,2972576.0,2972576.0,USD,NaN,...,NaN,USD,0,0,0,http://www.sec.gov/Archives/edgar/data/1138818...,SEC,santosh2013,2013-12-12 13:16:24,2013-12-12 13:16:24
52909,57934,57934,c:286184,2013-12-11,venture,unattributed,12999000.0,12999000.0,USD,NaN,...,NaN,USD,0,1,1,http://www.sec.gov/Archives/edgar/data/1552224...,SEC,amit2013,2013-12-12 13:17:16,2013-12-12 13:17:16
52910,57935,57935,c:83448,2010-02-03,venture,partial,275000.0,275000.0,USD,NaN,...,NaN,USD,0,0,1,http://www.sec.gov/Archives/edgar/data/1483094...,SEC,santosh2013,2013-12-12 13:17:37,2013-12-12 13:17:37
52911,57936,57936,c:286186,2010-04-07,venture,partial,2156061.0,2156061.0,USD,NaN,...,NaN,USD,0,1,1,http://www.sec.gov/Archives/edgar/data/1488527...,SEC,prasant2013,2013-12-12 13:20:39,2013-12-12 13:20:39
52912,57937,57937,c:44384,2010-04-07,other,debt_round,150000.0,150000.0,USD,NaN,...,NaN,USD,0,0,0,http://www.sec.gov/Archives/edgar/data/1372965...,SEC,prasant2013,2013-12-12 13:25:51,2013-12-12 13:25:51
52913,57938,57938,c:232348,2010-02-03,venture,partial,861570.0,861570.0,USD,NaN,...,NaN,USD,0,0,1,http://www.sec.gov/Archives/edgar/data/1323827...,SEC,santosh2013,2013-12-12 13:27:11,2013-12-12 13:27:11
52914,57939,57939,c:255327,2010-02-04,venture,unattributed,274997.0,274997.0,USD,NaN,...,NaN,USD,0,0,1,http://www.sec.gov/Archives/edgar/data/1483408...,SEC,santosh2013,2013-12-12 13:33:31,2013-12-12 13:33:31
52915,57940,57940,c:65946,2013-12-12,venture,unattributed,NaN,NaN,USD,NaN,...,NaN,USD,0,1,0,http://finance.yahoo.com/news/avinger-complete...,Avinger Completes Major New Financing,amit2013,2013-12-12 13:33:40,2013-12-12 13:33:40
52916,57941,57941,c:45407,2013-10-24,series-c+,c,1627248.0,1627248.0,USD,NaN,...,NaN,USD,0,1,1,http://www.sec.gov/Archives/edgar/data/1415743...,SEC,prasant2013,2013-12-12 13:36:47,2013-12-12 13:36:47
52917,57942,57942,c:70841,2013-12-12,venture,unattributed,NaN,NaN,USD,NaN,...,NaN,USD,1,1,1,http://www.pehub.com/2013/12/littlejohn-co-bac...,Littlejohn & Co backs Newgistics,amit2013,2013-12-12 13:41:53,2013-12-12 13:41:53
52918,57943,57943,c:286200,2010-02-05,other,debt_round,1588125.0,1588125.0,USD,NaN,...,NaN,USD,0,1,1,http://www.sec.gov/Archives/edgar/data/1103795...,SEC,santosh2013,2013-12-12 13:52:13,2013-12-12 13:52:13
52919,57944,57944,c:256895,2010-04-07,venture,unattributed,120000.0,120000.0,USD,NaN,...,NaN,USD,0,1,1,http://www.sec.gov/Archives/edgar/data/700998/...,SEC,prasant2013,2013-12-12 13:58:03,2013-12-12 13:58:03
52920,57945,57945,c:37738,2010-02-06,other,debt_round,1800180.0,1800180.0,USD,NaN,...,NaN,USD,0,1,1,http://www.sec.gov/Archives/edgar/data/1483471...,SEC,santosh2013,2013-12-12 13:58:18,2013-12-12 13:58:18
52921,57946,57946,c:52213,2013-12-12,private-equity,private_equity,25200000.0,25200000.0,USD,NaN,...,NaN,USD,0,1,0,http://www.fiercebiotech.com/press-releases/se...,Senesco Announces up to $25.2 Million Equity F...,amit2013,2013-12-12 14:02:30,2013-12-12 14:06:21
52922,57947,57947,c:156993,2010-04-07,venture,unattributed,4000000.0,4000000.0,USD,NaN,...,NaN,USD,0,0,1,http://www.sec.gov/Archives/edgar/data/1472941...,SEC,prasant2013,2013-12-12 14:05:51,2013-12-12 14:05:51
52923,57948,57948,c:211890,2013-12-12,series-a,a,3000000.0,3000000.0,USD,NaN,...,NaN,USD,1,1,1,http://techcrunch.com/2013/12/12/bitstrips-ser...,"Bitstrips Confirms $3M Series A From Horizons,...",amit2013,2013-12-12 14:12:05,2013-12-12 14:12:05
52924,57949,57949,c:267427,2010-02-06,venture,partial,570000.0,570000.0,USD,NaN,...,NaN,USD,0,0,1,http://www.sec.gov/Archives/edgar/data/1434188...,SEC,santosh2013,2013-12-12 14:13:11,2013-12-12 14:13:11
52925,57950,57950,c:261728,2010-02-06,venture,unattributed,2184100.0,2184100.0,USD,NaN,...,NaN,USD,0,0,1,http://www.sec.gov/Archives/edgar/data/1335158...,SEC,santosh2013,2013-12-12 14:19:35,2013-12-12 14:19:35
52926,57951,57951,c:285864,2013-12-12,series-a,a,790783.0,790783.0,USD,NaN,...,NaN,USD,0,1,1,http://www.startupticker.ch/en/news/december-2...,UrbanFarmers closes interim-investment round,amit2013,2013-12-12 14:23:49,2013-12-12 14:23:49
52927,57952,57952,c:286215,2010-04-07,venture,partial,271250.0,271250.0,USD,NaN,...,NaN,USD,0,1,1,http://www.sec.gov/Archives/edgar/data/1488680...,SEC,prasant2013,2013-12-12 14:27:53,2013-12-12 14:27:53

In [502]:
tabl = pd.merge(founders, funding_rounds,how='inner', left_on='relationship_object_id', right_on='object_id')

In [503]:
tabl[['funding_round_id','name','title']]

,funding_round_id,name,title
0,888,Ben Elowitz,Co-Founder/CEO/Board of Directors
1,889,Ben Elowitz,Co-Founder/CEO/Board of Directors
2,2312,Ben Elowitz,Co-Founder/CEO/Board of Directors
3,888,Bert Hogue,CFO
4,889,Bert Hogue,CFO
5,2312,Bert Hogue,CFO
6,888,Rob Grady,COO/Board of Directors
7,889,Rob Grady,COO/Board of Directors
8,2312,Rob Grady,COO/Board of Directors
9,888,Rob Grady,"Senior Vice President, Marketing"
10,889,Rob Grady,"Senior Vice President, Marketing"
11,2312,Rob Grady,"Senior Vice President, Marketing"
12,888,Michael Howell,"Co-Founder and VP, Social and Audience Develop..."
13,889,Michael Howell,"Co-Founder and VP, Social and Audience Develop..."
14,2312,Michael Howell,"Co-Founder and VP, Social and Audience Develop..."
15,888,Brian Watkins,CFO/ CRO
16,889,Brian Watkins,CFO/ CRO
17,2312,Brian Watkins,CFO/ CRO
18,888,Alex Weinstein,Head of Technology and Product
19,889,Alex Weinstein,Head of Technology and Product
20,2312,Alex Weinstein,Head of Technology and Product
21,2304,Ben Elowitz,Co-founder & VP
22,2305,Ben Elowitz,Co-founder & VP
23,2304,Mark Vadon,"Board of Directors, Chairman, CEO"
24,2305,Mark Vadon,"Board of Directors, Chairman, CEO"
25,2304,Brian Watkins,Vice President of Merchandising
26,2305,Brian Watkins,Vice President of Merchandising
27,2304,Eric Carlborg,Board of Directors
28,2305,Eric Carlborg,Board of Directors
29,2304,Vijay Talwar,President and General Manager of International...
...,...,...,...
143945,7366,Albert Sancho,CTO & Software Engineer
143946,13276,Marek Chauncey,CEO
143947,13276,Ana Arrieta,Co-founder
143948,13276,Fernando P. Coss,Co-founder
143949,52846,Mandar Agte,CEO & Co-Founder
143950,26319,Carl O. Lewis,CEO
143951,26319,Anastasia T. Lewis,Director and Co-Founder
143952,57876,Wynn Wang,CEO
143953,57876,Tao Chang,COO
143954,35710,Antonio Tom,CEO & Co-Founder
143955,35710,Juan S?nchez,CTO & Co-Founder
143956,57881,Ken Prayoon Cheng,Co-Founder and Chief Technology Officer
143957,53435,Josh Silverman,CSO
143958,57794,Josh Silverman,CSO
143959,36466,Jaclyn Shanfeld,CEO
143960,57771,Jaclyn Shanfeld,CEO
143961,57889,Jacob Slevin,Co-Founder and Chief Executive Officer
143962,57889,Avi Flombaum,Co-Founder and Chief Product Officer
143963,57894,John Ferrari,CEO
143964,37353,Hector M Morell,Founder & CEO
143965,37353,Carlos Tapiador,CFO
143966,57902,Marcus Yeo,CEO
143967,57902,Ludovic Vallier,CSO
143968,57871,Drew Langloh,President and CEO
143969,57916,Tai-Sen Soong,CEO
143970,57934,Donna L. Tempel,President & CEO
143971,57936,John Bissell,CEO
143972,57936,Ryan Smith,CTO
143973,57943,Cecil Bond Kyte,CEO
143974,57952,David Schulhof,Co-Founder

#### Education

In [ ]:
len(degrees)

In [ ]:
degrees['degree_type'].dtype

In [ ]:
len(degrees['object_id'].unique())

We have degree details for the above number of people

We need to give a rating to the degrees. All Bachelors will have rating as 1. Masters will have rating 2 and PHD/MBA will have rating 3.As there are around 7000 differnet degrees, for other types of degrees we can use the median of the rest of the table.

In [ ]:
degrees.loc[degrees['degree_type'].str.contains('B\..*',na=False),'degree_score'] = 1

In [ ]:
degrees.loc[degrees['degree_type'].str.contains('Bachelor',na=False),'degree_score'] = 1

In [ ]:
degrees.loc[degrees['degree_type'].str.contains('^B.*',na=False),'degree_score'] = 1

In [ ]:
degrees.loc[degrees['degree_type'].str.contains('JD',na=False),'degree_score'] = 1

In [ ]:
degrees.loc[degrees['degree_type'].str.contains('Master',na=False),'degree_score'] = 2

In [ ]:
degrees.loc[degrees['degree_type'].str.contains('^M.*',na=False),'degree_score'] = 2

In [ ]:
degrees.loc[degrees['degree_type'].str.contains('M.$',na=False),'degree_score'] = 2

In [ ]:
degrees.loc[degrees['degree_type'].str.contains('M\..*',na=False),'degree_score'] = 2

In [ ]:
degrees.loc[degrees['degree_type'].str.contains('Ph\.*D',na=False),'degree_score'] = 3

In [ ]:
degrees.loc[degrees['degree_type'].str.contains('MBA',na=False),'degree_score'] = 2

In [ ]:
degrees.loc[degrees['degree_type'].str.contains('No degree',na=False),'degree_score'] = 0

In [ ]:
degrees.loc[degrees['degree_type'].str.contains('LLB',na=False),'degree_score'] = 1

In [ ]:
degrees.loc[degrees['degree_type'].str.contains('Foundation',na=False),'degree_score'] = 0.5

In [ ]:
degrees.loc[degrees['degree_type'] == '','degree_score'] = 1

In [ ]:
degrees['degree_score'].fillna(np.nanmedian(degrees['degree_score']), inplace=True)

In [ ]:
degrees[['degree_type','degree_score']]

In [ ]:
degrees.loc[degrees['degree_score'].isnull()]['degree_type'].describe()

In [399]:
len(degrees)

105215

In [398]:
degrees.drop_duplicates(subset=['object_id','degree_type'],inplace=True)

In [422]:
baseline_data = pd.merge(baseline_data, degrees, how='left', left_on=['object_id','degree_type'], right_on=['object_id','degree_type'])

In [423]:
baseline_data['degree_score'].fillna(np.nanmedian(baseline_data['degree_score']), inplace=True)

In [424]:
len(baseline_data1)

99327

In [406]:
len(baseline_data)

99327

In [ ]:
# education[['object_id','degree_score','degree_type']]
baseline_data[['degree_score','degree_type']]

In [387]:
education_with_no_persons = baseline_data[baseline_data['id_x'].isnull()]
person_with_no_education = baseline_data[baseline_data['id_y'].isnull()]
print "Education rows with no corresponding person",len(education_with_no_persons)
print "Persons with no details about their education",len(person_with_no_education)

Education rows with no corresponding person 92393
Persons with no details about their education 54265

In [386]:
education_with_no_persons = education[education['id_x'].isnull()]
person_with_no_education = education[education['id_y'].isnull()]
print "Education rows with no corresponding person",len(education_with_no_persons)
print "Persons with no details about their education",len(person_with_no_education)

Education rows with no corresponding person 0
Persons with no details about their education 0

Next Steps: 
1. We have sparse data for education. What to do with it?
2. How to clean workex data?

#### Funding Rounds

In [ ]:
len(funding_rounds)

In [ ]:
work_ex_funding = pd.merge(work_ex, funding_rounds,how='inner', left_on='relationship_object_id', right_on='object_id')

In [ ]:
len(work_ex_funding)

In [ ]:
work_ex_funding[:5]
funding_rounds['funded_at_datetime']= pd.to_datetime(funding_rounds['funded_at'])
funding_rounds[['funded_at_datetime','funded_at']]

In [ ]:
kevin = work_ex_funding[work_ex_funding['id_x']=='p:3']
kevin[['title','funded_at']]
kevin

In [ ]:
kevin1 = work_ex[work_ex['id_x']=='p:3']
# kevin1[['title','funded_at']]
# kevin1['start_at_datetime'] = pd.to_datetime(kevin['start_at'].dropna(),yearfirst = True)
# pd.to_datetime(kevin['end_at'])
# pd.to_datetime(kevin['end_at'],infer_datetime_format=True)
# kevin1[['start_at', 'end_at','start_at_datetime', 'end_at_datetime']]
# kevin1[['start_at', 'end_at']]
# pd.to_datetime(kevin1['start_at'].dropna())

In [ ]:
a = '2001-02-01'
pd.to_datetime(a)

In [ ]:
a = work_ex[:5].groupby('id_x')
work_ex[:10]

### Train Test and Evaluation Data

We need to divide the data into train test and evaluation data. We will divide it in the following ratio:

1.Train - 60%

2.Test - 20%

3.Evaluation - 20%

### Baseline Model

Our baseline model is dependent on Education and work experience of the founder. We will train our linear regression model on the score of the founder based on the above 2 features and run it on the test data. 

We will then find the error rate of our baseline model on the test data.

In [425]:
baseline_data['work_ex_score'] = baseline_data['funded_at'] - baseline_data['start_at']

In [426]:
baseline_data = pd.merge(companies, baseline_data, how='inner', left_on ='id', right_on='id_x')

In [427]:
negative_dates = baseline_data.loc[baseline_data['work_ex_score']<pd.Timedelta('0 days')]

In [428]:
len(negative_dates)

11284

In [429]:
baseline_data

,id,entity_type,entity_id,parent_id,name_x,normalized_name,permalink,category_code,status,founded_at,...,funding_round_code,funding_round_type,id_y,subject,institution,graduated_at,created_at_y,updated_at_y,degree_score,work_ex_score
0,c:1,Company,1,None,Wetpaint,wetpaint,/company/wetpaint,web,operating,2005-10-17,...,a,series-a,699.0,Electrical Engineering/Computer Science,"University of California, Berkeley",1994-01-01,2008-05-06 00:05:48,2008-05-06 00:05:48,1.0,11961 days
1,c:1,Company,1,None,Wetpaint,wetpaint,/company/wetpaint,web,operating,2005-10-17,...,a,series-a,41207.0,Economics (with honors),London School of Economics and Political Science,2000-01-01,2013-06-02 17:23:24,2013-06-02 17:23:24,1.0,-16 days
2,c:1,Company,1,None,Wetpaint,wetpaint,/company/wetpaint,web,operating,2005-10-17,...,a,series-a,41317.0,Business Administration,"University of California, Berkeley, Walter A. ...",1995-01-01,2013-06-03 10:54:04,2013-06-03 10:54:04,1.0,38259 days
3,c:1,Company,1,None,Wetpaint,wetpaint,/company/wetpaint,web,operating,2005-10-17,...,a,series-a,79998.0,Business Administration,University of Puget Sound,1980-01-01,2013-09-13 11:58:34,2013-09-13 11:58:34,1.0,-457 days
4,c:1,Company,1,None,Wetpaint,wetpaint,/company/wetpaint,web,operating,2005-10-17,...,b,series-b,699.0,Electrical Engineering/Computer Science,"University of California, Berkeley",1994-01-01,2008-05-06 00:05:48,2008-05-06 00:05:48,1.0,12418 days
5,c:1,Company,1,None,Wetpaint,wetpaint,/company/wetpaint,web,operating,2005-10-17,...,b,series-b,41207.0,Economics (with honors),London School of Economics and Political Science,2000-01-01,2013-06-02 17:23:24,2013-06-02 17:23:24,1.0,441 days
6,c:1,Company,1,None,Wetpaint,wetpaint,/company/wetpaint,web,operating,2005-10-17,...,b,series-b,41317.0,Business Administration,"University of California, Berkeley, Walter A. ...",1995-01-01,2013-06-03 10:54:04,2013-06-03 10:54:04,1.0,38716 days
7,c:1,Company,1,None,Wetpaint,wetpaint,/company/wetpaint,web,operating,2005-10-17,...,b,series-b,79998.0,Business Administration,University of Puget Sound,1980-01-01,2013-09-13 11:58:34,2013-09-13 11:58:34,1.0,0 days
8,c:1,Company,1,None,Wetpaint,wetpaint,/company/wetpaint,web,operating,2005-10-17,...,c,series-c+,699.0,Electrical Engineering/Computer Science,"University of California, Berkeley",1994-01-01,2008-05-06 00:05:48,2008-05-06 00:05:48,1.0,12922 days
9,c:1,Company,1,None,Wetpaint,wetpaint,/company/wetpaint,web,operating,2005-10-17,...,c,series-c+,41207.0,Economics (with honors),London School of Economics and Political Science,2000-01-01,2013-06-02 17:23:24,2013-06-02 17:23:24,1.0,945 days
10,c:1,Company,1,None,Wetpaint,wetpaint,/company/wetpaint,web,operating,2005-10-17,...,c,series-c+,41317.0,Business Administration,"University of California, Berkeley, Walter A. ...",1995-01-01,2013-06-03 10:54:04,2013-06-03 10:54:04,1.0,39220 days
11,c:1,Company,1,None,Wetpaint,wetpaint,/company/wetpaint,web,operating,2005-10-17,...,c,series-c+,79998.0,Business Administration,University of Puget Sound,1980-01-01,2013-09-13 11:58:34,2013-09-13 11:58:34,1.0,504 days
12,c:4,Company,4,None,Digg,digg,/company/digg,news,acquired,2004-10-11,...,b,series-b,22649.0,"Film and Broadcasting, Computer Science Concen...",Boston University,1992-01-01,2012-09-15 22:58:01,2012-09-15 22:58:01,1.0,518 days
13,c:4,Company,4,None,Digg,digg,/company/digg,news,acquired,2004-10-11,...,b,series-b,24461.0,Economics,"University of California, Berkeley",1993-01-01,2012-12-22 04:04:01,2012-12-24 04:33:33,1.0,-1948 days
14,c:4,Company,4,None,Digg,digg,/company/digg,news,acquired,2004-10-11,...,b,series-b,15624.0,None,"University of Nevada, Las Vegas",None,2011-08-17 22:18:35,2011-08-17 22:18:35,1.0,821 days
15,c:4,Company,4,None,Digg,digg,/company/digg,news,acquired,2004-10-11,...,b,series-b,NaN,NaN,NaN,NaN,NaT,NaT,1.0,3987 days
16,c:4,Company,4,None,Digg,digg,/company/digg,news,acquired,2004-10-11,...,b,series-b,NaN,NaN,NaN,NaN,NaT,NaT,1.0,699 days
17,c:4,Company,4,None,Digg,digg,/company/digg,news,acquired,2004-10-11,...,b,series-b,NaN,NaN,NaN,NaN,NaT,NaT,1.0,-1673 days
18,c:4,Company,4,None,Digg,digg,/company/digg,news,acquired,2004-10-11,...,b,series-b,NaN,NaN,NaN,NaN,NaT,NaT,1.0,-2254 days
19,c:4,Company,4,None,Digg,digg,/company/digg,news,acquired,2004-10-11,...,a,series-a,22649.0,"Film and Broadcasting, Computer Science Concen...",Boston University,1992-01-01,2012-09-15 22:58:01,2012-09-15 22:58:01,1.0,92 days
20,c:4,Company,4,None,Digg,digg,/company/digg,news,acquired,2004-10-11,...,a,series-a,24461.0,Economics,"University of California, Berkeley",1993-01-01,2012-12-22 04:04:01,2012-12-24 04:33:33,1.0,-2374 days
21,c:4,Company,4,None,Digg,digg,/company/digg,news,acquired,2004-10-11,...,a,series-a,15624.0,None,"University of Nevada, Las Vegas",None,2011-08-17 22:18:35,2011-08-17 22:18:35,1.0,395 days
22,c:4,Company,4,None,Digg,digg,/company/digg,news,acquired,2004-10-11,...,a,series-a,NaN,NaN,NaN,NaN,NaT,NaT,1.0,3561 days
23,c:4,Company,4,None,Digg,digg,/company/digg,news,acquired,2004-10-11,...,a,series-a,NaN,NaN,NaN,NaN,NaT,NaT,1.0,273 days
24,c:4,Company,4,None,Digg,digg,/company/digg,news,acquired,2004-10-11,...,a,series-a,NaN,NaN,NaN,NaN,NaT,NaT,1.0,-2099 days
25,c:4,Company,4,None,Digg,digg,/company/digg,news,acquired,2004-10-11,...,a,series-a,NaN,NaN,NaN,NaN,NaT,NaT,1.0,-2680 days
26,c:4,Company,4,None,Digg,digg,/company/digg,news,acquired,2004-10-11,...,c,series-c+,22649.0,"Film and Broadcasting, Computer Science Concen...",Boston University,1992-01-01,2012-09-15 22:58:01,2012-09-15 22:58:01,1.0,1181 days
27,c:4,Company,4,None,Digg,digg,/company/digg,news,acquired,2004-10-11,...,c,series-c+,24461.0,Economics,"University of California, Berkeley",1993-01-01,2012-12-22 04:04:01,2012-12-24 04:33:33,1.0,-1285 days
28,c:4,Company,4,None,Digg,digg,/company/digg,news,acquired,2004-10-11,...,c,series-c+,15624.0,None,"University of Nevada, Las Vegas",None,2011-08-17 22:18:35,2011-08-17 22:18:35,1.0,1484 days
29,c:4,Company,4,None,Digg,digg,/company/digg,news,acquired,2004-10-11,...,c,series-c+,NaN,NaN,NaN,NaN,NaT,NaT,1.0,4650 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99297,c:286000,Company,286000,None,LOC Enterprises,loc enterprises,/company/loc-enterprises,analytics,operating,None,...,seed,series-a,109382.0,Accounting and Business/Management,University of Cincinnati,None,2013-12-12 06:06:19,2013-12-12 06:06:19,1.0,NaT
99298,c:286000,Company,286000,None,LOC Enterprises,loc enterprises,/company/loc-enterprises,analytics,operating,None,...,seed,series-a,109384.0,Computer Science,University of Dayton,None,2013-12-12 06:07:57,2013-12-12 06:07:57,1.0,NaT
99299,c:286000,Company,286000,None,LOC Enterprises,loc enterprises,/company/loc-enterprises,analytics,operating,None,...,seed,series-a,NaN,NaN,NaN,NaN,NaT,NaT,1.0,NaT
99300,c:286003,Company,286003,None,Microbiome Therapeutics,microbiome therapeutics,/company/microbiome-therapeutics,biotech,operating,2009-01-01,...,convertible,angel,NaN,NaN,NaN,NaN,NaT,NaT,1.0,1804 days
99301,c:286028,Company,286028,None,Conjur,conjur,/company/conjur,software,operating,2011-01-01,...,unattributed,venture,109563.0,Epidemiology,Boston University,2006-01-01,2013-12-12 11:27:06,2013-12-12 11:27:06,1.0,1075 days
99302,c:286046,Company,286046,None,Gnarus Systems,gnarus systems,/company/gnarus-systems,biotech,operating,2009-01-01,...,debt_round,other,NaN,NaN,NaN,NaN,NaT,NaT,1.0,469 days
99303,c:286046,Company,286046,None,Gnarus Systems,gnarus systems,/company/gnarus-systems,biotech,operating,2009-01-01,...,debt_round,other,NaN,NaN,NaN,NaN,NaT,NaT,1.0,469 days
99304,c:286052,Company,286052,None,DoorBot,doorbot,/company/doorbot,security,operating,None,...,seed,angel,43148.0,None,"University of Guelph Bachelor of Arts, Compute...",None,2013-06-11 10:07:39,2013-06-11 10:07:39,1.0,10571 days
99305,c:286052,Company,286052,None,DoorBot,doorbot,/company/doorbot,security,operating,None,...,seed,angel,NaN,NaN,NaN,NaN,NaT,NaT,1.0,3266 days
99306,c:286059,Company,286059,None,Taiga Biotechnologies,taiga biotechnologies,/company/taiga-biotechnologies,biotech,operating,2006-01-01,...,debt_round,other,NaN,NaN,NaN,NaN,NaT,NaT,1.0,1565 days
99307,c:286059,Company,286059,None,Taiga Biotechnologies,taiga biotechnologies,/company/taiga-biotechnologies,biotech,operating,2006-01-01,...,debt_round,other,NaN,NaN,NaN,NaN,NaT,NaT,1.0,1565 days
99308,c:286065,Company,286065,None,OneBreath,onebreath,/company/onebreath,consulting,operating,None,...,unattributed,venture,NaN,NaN,NaN,NaN,NaT,NaT,1.0,2902 days
99309,c:286065,Company,286065,None,OneBreath,onebreath,/company/onebreath,consulting,operating,None,...,unattributed,venture,NaN,NaN,NaN,NaN,NaT,NaT,1.0,NaT
99310,c:286114,Company,286114,None,RMDMgroup,rmdmgroup,/company/rmdmgroup,other,operating,None,...,partial,venture,NaN,NaN,NaN,NaN,NaT,NaT,1.0,NaT
99311,c:286114,Company,286114,None,RMDMgroup,rmdmgroup,/company/rmdmgroup,other,operating,None,...,partial,venture,NaN,NaN,NaN,NaN,NaT,NaT,1.0,NaT
99312,c:286125,Company,286125,None,Koru,koru,/company/koru,education,operating,None,...,a,series-a,73036.0,Business,The University of Western Ontario - Richard Iv...,1993-01-01,2013-09-02 05:45:33,2013-09-02 05:45:33,1.0,14497 days
99313,c:286125,Company,286125,None,Koru,koru,/company/koru,education,operating,None,...,a,series-a,NaN,NaN,NaN,NaN,NaT,NaT,1.0,NaT
99314,c:286130,Company,286130,None,Really Simple,really simple,/company/really-simple,software,operating,2006-01-01,...,partial,venture,NaN,NaN,NaN,NaN,NaT,NaT,1.0,1493 days
99315,c:286130,Company,286130,None,Really Simple,really simple,/company/really-simple,software,operating,2006-01-01,...,partial,venture,NaN,NaN,NaN,NaN,NaT,NaT,1.0,1493 days
99316,c:286144,Company,286144,None,DwellGreen,dwellgreen,/company/dwellgreen,cleantech,operating,2009-01-01,...,partial,venture,NaN,NaN,NaN,NaN,NaT,NaT,1.0,397 days
99317,c:286144,Company,286144,None,DwellGreen,dwellgreen,/company/dwellgreen,cleantech,operating,2009-01-01,...,partial,venture,NaN,NaN,NaN,NaN,NaT,NaT,1.0,397 days
99318,c:286151,Company,286151,None,Definigen,definigen,/company/definigen,biotech,operating,None,...,seed,series-a,NaN,NaN,NaN,NaN,NaT,NaT,1.0,NaT
99319,c:286151,Company,286151,None,Definigen,definigen,/company/definigen,biotech,operating,None,...,seed,series-a,NaN,NaN,NaN,NaN,NaT,NaT,1.0,NaT
99320,c:286178,Company,286178,None,Senhwa Biosciences,senhwa biosciences,/company/senhwa-biosciences,biotech,operating,None,...,b,series-b,NaN,NaN,NaN,NaN,NaT,NaT,1.0,NaT
99321,c:286183,Company,286183,None,Wedding Spot,wedding spot,/company/wedding-spot,web,operating,2013-05-01,...,seed,angel,NaN,NaN,NaN,NaN,NaT,NaT,1.0,225 days
99322,c:286183,Company,286183,None,Wedding Spot,wedding spot,/company/wedding-spot,web,operating,2013-05-01,...,seed,angel,91916.0,Hospitality Administration/Management,The Hong Kong Polytechnic University,None,2013-10-21 09:21:05,2013-10-21 09:21:05,1.0,22352 days
99323,c:286186,Company,286186,None,Micromidas,micromidas,/company/micromidas,cleantech,operating,None,...,partial,venture,NaN,NaN,NaN,NaN,NaT,NaT,1.0,NaT
99324,c:286186,Company,286186,None,Micromidas,micromidas,/company/micromidas,cleantech,operating,None,...,partial,venture,NaN,NaN,NaN,NaN,NaT,NaT,1.0,NaT
99325,c:286200,Company,286200,None,STWA,stwa,/company/stwa,other,operating,1998-01-01,...,debt_round,other,NaN,NaN,NaN,NaN,NaT,NaT,1.0,4418 days
99326,c:286215,Company,286215,None,The Betty Mills Company,the betty mills company,/company/the-betty-mills-company,ecommerce,operating,None,...,partial,venture,NaN,NaN,NaN,NaN,NaT,NaT,1.0,NaT

In [430]:
for index,row in negative_dates.iterrows():
#     print row['funded_at'], companies.loc[companies['id']== row['id_x'],'founded_at']
#     print row['funded_at'] - companies.loc[companies['id']== row['id_x'],'founded_at']
#     print row['work_ex_score']
    if  row['funded_at'] and row['founded_at']:
        baseline_data.loc[index,'work_ex_score'] = row['funded_at'] - row['founded_at']
        row['work_ex_score']
#     baseline_data.loc[baseline_data['object_id']==row['object_id'],'work_ex_score'] = row['work_ex_score']
#     print baseline_data.loc[baseline_data['object_id']==row['object_id'],'work_ex_score']

In [431]:
len(baseline_data)

99327

In [432]:
 baseline_data.loc[baseline_data['work_ex_score']<pd.Timedelta('0 days'),'work_ex_score'] = 0

In [433]:
baseline_data.columns

Index([u'id', u'entity_type', u'entity_id', u'parent_id', u'name_x',
       u'normalized_name', u'permalink', u'category_code', u'status',
       u'founded_at', u'closed_at', u'domain', u'homepage_url',
       u'twitter_username', u'logo_url', u'logo_width', u'logo_height',
       u'short_description', u'description', u'overview', u'tag_list',
       u'country_code', u'state_code', u'city', u'region',
       u'first_investment_at', u'last_investment_at', u'investment_rounds',
       u'invested_companies', u'first_funding_at', u'last_funding_at',
       u'funding_rounds', u'funding_total_usd', u'first_milestone_at',
       u'last_milestone_at', u'milestones', u'relationships', u'created_by',
       u'created_at_x', u'updated_at_x', u'degree_type', u'object_id',
       u'start_at', u'title', u'first_name', u'last_name', u'name_y', u'id_x',
       u'funding_round_id', u'funded_at', u'funding_round_code',
       u'funding_round_type', u'id_y', u'subject', u'institution',
       u'graduated_at', u'created_at_y', u'updated_at_y', u'degree_score',
       u'work_ex_score'],
      dtype='object')

In [ ]:
baseline_data.columns#.drop_duplicates(inplace=True)

In [435]:
final_data  = baseline_data[['name_x','work_ex_score','degree_score',u'funding_round_code',
               'first_name','last_name','funded_at']]#.groupby('funded_at').sum()

In [436]:
final_data.drop_duplicates(inplace=True)

In [440]:
final_data['work_ex_score'].fillna(0,inplace=True)

In [441]:
final_data['work_ex_score_i'] = (final_data['work_ex_score']/ np.timedelta64(1, 'D')).astype(int)

/Library/Python/2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [442]:
final_data['work_ex_score_i'] = np.ceil(final_data['work_ex_score_i']/365)

/Library/Python/2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [443]:
data = final_data.groupby(['name_x','funding_round_code'])[['degree_score','work_ex_score_i']].sum()

In [448]:
len(data)

32593

In [446]:
data = data.reset_index(1)

In [ ]:
len(final_data['name'].unique())

In [ ]:
len(baseline_data['name'].unique())

In [ ]:
len(baseline_data)

In [ ]:
data

In [449]:
def split_data(data):
    msk = np.random.rand(len(data)) < 0.8
    train_data = data[msk]
#     test = data[~msk]
#     msk = np.random.rand(len(test)) < 0.5
#     evaluation_data = test[msk]
    test_data = data[~msk]
    return train_data,test_data

In [450]:
data['funding_round_category'] = data['funding_round_code'].astype('category').cat.codes

In [451]:
from sklearn import svm

In [452]:

clf = svm.OneClassSVM(nu=0.1, kernel="rbf", gamma=0.1)

for i in xrange(5):
    train_data, test_data = split_data(data)
    clf.fit(train_data[['degree_score','work_ex_score_i','funding_round_category']])
#     y_pred_train = clf.predict(train_data[['degree_score','work_ex_score_i','funding_round_category']])
    y_pred_test = clf.predict(test_data[['degree_score','work_ex_score_i','funding_round_category']])
    print "Train data ", len(train_data)
    print "Test data ", len(test_data)
    print "Error ", float(len(y_pred_test[y_pred_test==-1]))/float(len(y_pred_test))

Train data  26091
Test data  6502
Error  0.145955090741
Train data  26076
Test data  6517
Error  0.144851925733
Train data  26198
Test data  6395
Error  0.13260359656
Train data  26112
Test data  6481
Error  0.130072519673
Train data  25996
Test data  6597
Error  0.124298923753

In [ ]:
len(y_pred_train[y_pred_train==-1])
len(y_pred_train)

In [ ]:
y_pred_test = clf.predict(test_data[['degree_score','work_ex_score_i','funding_round_category']])

In [ ]:
len(y_pred_test[y_pred_test==-1])
len(y_pred_test)

In [ ]:
y_pred_eval = clf.predict(evaluation_data[['degree_score','work_ex_score_i','funding_round_category']])

In [ ]:
len(y_pred_eval[y_pred_eval==-1])
len(y_pred_eval)

In [ ]:
len(data)

In [ ]:
0.146616541353 + 0.135338345865 + 0.158360128617+ 0.147034708937+0.148454157783

In [ ]:
0.735803882555/5

In [453]:
14.59+14.48+13.26+13+12.42

67.75

In [454]:
67.75/5

13.55

99327