In [ ]:
% matplotlib inline
import MySQLdb
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
db = MySQLdb.connect(host="crunchbase.ckfkhzm7cot3.us-west-2.rds.amazonaws.com",
                     port=3306,
                     user="root",         # your username
                     passwd="root1234",  # your password
                     db="analytics_2")        # name of the data base

In [ ]:
cur = db.cursor()

In [ ]:
count = cur.execute("SELECT count(*) FROM cb_objects")

#### Load into pandas dataframe from database

In [ ]:
df_mysql = pd.read_sql('select * from cb_objects LIMIT 100;', con=db)

In [ ]:
persons = pd.read_sql('Select * from cb_objects where entity_type = \'Person\'', con=db)

In [ ]:
relationships = pd.read_sql('Select * from cb_relationships', con=db)

In [ ]:
degrees = pd.read_sql('Select * from cb_degrees', con=db)

In [ ]:
funding_rounds = pd.read_sql('Select * from cb_funding_rounds', con=db)

#### Fill nan for empty and None values

In [ ]:
persons.fillna(value=np.nan, inplace=True)
relationships.fillna(value=np.nan, inplace=True)
degrees.fillna(value=np.nan, inplace=True)

#### People

For the baseline model we need to consider only people who are Founders, CEO, CIO etc

#### Work Experience

In [ ]:
work_ex = pd.merge(persons, relationships, how='inner', right_on='person_object_id', left_on='id')

In [ ]:
print 'Total number of work ex rows', len(work_ex)

In [59]:
workex_with_no_persons = work_ex[work_ex['id_x'].isnull()]
person_with_no_workex = work_ex[work_ex['id_y'].isnull()]
print "workex rows with no corresponding person",len(workex_with_no_persons)
print "Persons with no details about their workex",len(person_with_no_workex)

workex rows with no corresponding person 0
Persons with no details about their workex 0

In [ ]:
print "Number of rows with no start_at for workex is: ",len(work_ex[work_ex['start_at'].isnull()]), "which is roughly half the number of rows"

Idea : We can fill the start_at date with one of the following:
1. founding_date of the company
2. created_at_y which is when the record was created in the database

To analyse we can first build a plot of the different between the 2 and see the relation between the title, created at and founding date. It can mean that most of the founders have their profile created on crunchbase much later than the founding date, in which case we can safely use the founding date. However, for employess we an use the created_at.

In [ ]:
work_ex['title'].unique

This below line of code filters all the work ex where the person is one of the founding members or the board of directors

In [ ]:
founders = work_ex.loc[work_ex['id_x'].isin(work_ex.loc[work_ex['title'].str.contains('Cheif|C[A-Z]O|Co\-Founder|Co\-founder|Board', regex=True),'id_x'])]

In [55]:
founders['start_at'] = pd.to_datetime(founders['start_at'])
# import dateutil
# founderspd.to_datetime(founders['start_at'])
# founders['start_at']
# len(founders[founders['start_at'].isnull()])

/Library/Python/2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [56]:
founders.groupby('id_x').min()#agg({'start_at':min})

,entity_type,entity_id,parent_id,name,normalized_name,permalink,category_code,status,founded_at,closed_at,...,relationship_id,person_object_id,relationship_object_id,start_at,end_at,is_past,sequence,title,created_at_y,updated_at_y
id_x,,,,,,,,,,,,,,,,,,,,,
p:10,Person,10.0,NaN,Mark Zuckerberg,mark zuckerberg,/person/mark-zuckerberg,NaN,operating,NaN,NaN,...,9.0,p:10,c:5,NaN,NaN,0.0,1.0,Founder,2007-05-25 21:51:46,2010-01-25 21:49:44
p:1000,Person,1000.0,NaN,Dr. Steven E. Saunders,steven saunders,/person/dr-steven-e-saunders,NaN,operating,NaN,NaN,...,1063.0,p:1000,c:292,NaN,NaN,0.0,1.0,CTO,2007-07-26 13:31:35,2008-02-05 22:43:58
p:10000,NaN,10000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11190.0,NaN,NaN,NaN,NaN,0.0,1.0,NaN,NaN,NaN
p:100006,Person,100006.0,NaN,Courtney Homer,courtney homer,/person/courtney-homer,NaN,operating,NaN,NaN,...,121100.0,p:100006,c:81558,2006-01-01 00:00:00,NaN,0.0,1.0,CEO & Principal Recruiter,2011-07-09 02:16:36,2012-01-18 07:34:39
p:100009,Person,100009.0,NaN,Eddy Badrina,eddy badrina,/person/eddy-badrina,NaN,operating,NaN,NaN,...,121105.0,p:100009,c:152329,2012-01-01 00:00:00,NaN,0.0,1.0,CSO and Co-Founder,2011-07-09 02:41:46,2011-07-09 12:33:00
p:100011,Person,100011.0,NaN,Jeff Grell,jeff grell,/person/jeff-grell,NaN,operating,NaN,NaN,...,121106.0,p:100011,c:43604,NaN,NaN,0.0,1.0,President and CEO,2011-07-09 03:11:26,2011-07-09 03:11:26
p:100012,Person,100012.0,NaN,Nick Bova,nick bova,/person/nick-bova,NaN,operating,NaN,NaN,...,121107.0,p:100012,c:43604,NaN,NaN,0.0,1.0,COO,2011-07-09 03:11:26,2011-07-09 03:11:26
p:100013,Person,100013.0,NaN,Umesh Singh,umesh singh,/person/umesh-singh,NaN,operating,NaN,NaN,...,121108.0,p:100013,c:3246,NaN,NaN,0.0,1.0,CFO,2011-07-09 03:11:26,2013-05-19 09:14:27
p:100014,Person,100014.0,NaN,Larry Blankenship,larry blankenship,/person/larry-blankenship,NaN,operating,NaN,NaN,...,121109.0,p:100014,c:81561,NaN,NaN,0.0,1.0,Chairman of the Board and CEO,2011-07-09 03:17:16,2011-07-09 03:17:16
p:100015,Person,100015.0,NaN,Steven G. Anderson,steven anderson,/person/steven-g-anderson,NaN,operating,NaN,NaN,...,121110.0,p:100015,c:81562,NaN,NaN,0.0,1.0,"Chairman, President and CEO",2011-07-09 03:20:23,2011-07-09 03:20:23
p:100016,Person,100016.0,NaN,Thomas F. Ackerman,thomas ackerman,/person/thomas-f-ackerman-2,NaN,operating,NaN,NaN,...,121111.0,p:100016,c:81562,NaN,NaN,0.0,1.0,Thomas F. Ackerman Executive Vice President an...,2011-07-09 03:20:23,2011-07-09 03:20:23
p:100017,Person,100017.0,NaN,Kurt Azarbarzin,kurt azarbarzin,/person/kurt-azarbarzin,NaN,operating,NaN,NaN,...,121112.0,p:100017,c:201499,2005-01-01 00:00:00,NaN,0.0,1.0,,2011-07-09 03:27:24,2013-04-26 09:48:04
p:100024,Person,100024.0,NaN,Sebastian Knutsson,sebastian knutsson,/person/sebastian-knutsson,NaN,operating,NaN,NaN,...,121115.0,p:100024,c:287,2003-02-01 00:00:00,NaN,0.0,1.0,Chief Creative Head & Co-Founder,2011-07-09 07:54:31,2011-07-09 12:29:09
p:100025,Person,100025.0,NaN,Thomas Hartwig,thomas hartwig,/person/thomas-hartwig,NaN,operating,NaN,NaN,...,121116.0,p:100025,c:287,2003-02-01 00:00:00,NaN,0.0,1.0,Co-founder & Head of System development,2011-07-09 07:56:34,2011-07-09 12:29:12
p:100026,Person,100026.0,NaN,Lars Markgren,lars markgren,/person/lars-markgren,NaN,operating,NaN,NaN,...,121117.0,p:100026,c:287,2003-02-01 00:00:00,NaN,0.0,1.0,Co-founder & Managing Director,2011-07-09 07:58:17,2011-07-09 12:29:14
p:100029,Person,100029.0,NaN,Kaushik Prakash,kaushik prakash,/person/kaushik-prakash,NaN,operating,NaN,NaN,...,121118.0,p:100029,c:77700,NaN,NaN,0.0,1.0,Co-Founder,2011-07-09 08:56:39,2011-07-09 12:29:27
p:100030,Person,100030.0,NaN,Jai Patel,jai patel,/person/jai-patel,NaN,operating,NaN,NaN,...,121119.0,p:100030,c:77700,NaN,NaN,0.0,1.0,Co-Founder,2011-07-09 08:56:39,2011-07-09 12:29:27
p:100031,Person,100031.0,NaN,Sandeep Hegde,sandeep hegde,/person/sandeep-hegde,NaN,operating,NaN,NaN,...,121120.0,p:100031,c:81576,2007-12-14 00:00:00,NaN,0.0,1.0,Co-Founder,2011-07-09 09:10:33,2011-07-09 12:34:52
p:100046,Person,100046.0,NaN,Sebastian Toke-Nichols,sebastian toke nichols,/person/sebastian-toke-nichols-2,NaN,operating,NaN,NaN,...,121133.0,p:100046,c:238425,2010-01-01 00:00:00,NaN,0.0,1.0,CEO,2011-07-09 14:31:06,2011-09-14 00:54:39
p:100047,Person,100047.0,NaN,Peter Briscoe,peter briscoe,/person/peter-briscoe,NaN,operating,NaN,NaN,...,121134.0,p:100047,c:81592,2010-09-01 00:00:00,NaN,0.0,1.0,COO,2011-07-09 14:31:06,2011-09-14 00:54:39
p:100048,Person,100048.0,NaN,Rob Principe,rob principe,/person/rob-principe,NaN,operating,NaN,NaN,...,121135.0,p:100048,c:79332,NaN,NaN,0.0,1.0,Co-Founder and CEO,2011-07-09 14:48:35,2011-07-09 16:49:27
p:100049,NaN,100049.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,121136.0,NaN,NaN,NaN,NaN,0.0,1.0,NaN,NaN,NaN
p:100062,NaN,100062.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,121147.0,NaN,NaN,NaN,NaN,0.0,1.0,NaN,NaN,NaN
p:100065,NaN,100065.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,121153.0,NaN,NaN,NaN,NaN,0.0,1.0,NaN,NaN,NaN
p:100071,Person,100071.0,NaN,Conor Clarke,conor clarke,/person/conor-clarke,NaN,operating,NaN,NaN,...,121160.0,p:100071,c:81612,2011-01-01 00:00:00,NaN,0.0,1.0,CEO & Co-Founder,2011-07-09 22:30:58,2011-08-28 03:04:56
p:100072,Person,100072.0,NaN,James Ferguson,james ferguson,/person/james-ferguson,NaN,operating,NaN,NaN,...,121206.0,p:100072,c:81614,2007-01-01 00:00:00,NaN,0.0,1.0,Founded as CEO,2011-07-10 14:43:51,2013-04-09 03:38:45
p:100073,NaN,100073.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,121165.0,NaN,NaN,NaN,NaN,0.0,1.0,NaN,NaN,NaN
p:100074,NaN,100074.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,121166.0,NaN,NaN,NaN,NaN,0.0,1.0,NaN,NaN,NaN
p:100079,Person,100079.0,NaN,Shivendra Soni,shivendra soni,/person/shivendra-soni,NaN,operating,NaN,NaN,...,121171.0,p:100079,c:78969,NaN,NaN,1.0,1.0,Co Founder & CFO,2011-07-10 00:46:32,2011-07-15 17:36:05
p:10008,NaN,10008.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11199.0,NaN,NaN,NaN,NaN,0.0,1.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
p:99931,Person,99931.0,NaN,Stacy Spikes,stacy spikes,/person/stacy-spikes,NaN,operating,NaN,NaN,...,121007.0,p:99931,c:81508,2011-02-01 00:00:00,NaN,0.0,1.0,CEO/President,2011-07-08 15:12:39,2011-07-08 17:40:12
p:99932,Person,99932.0,NaN,Hamet Watt,hamet watt,/person/hamet-watt,NaN,operating,NaN,NaN,...,121008.0,p:99932,c:81508,2011-02-01 00:00:00,NaN,0.0,1.0,Co-founder,2011-07-08 15:12:39,2011-11-06 05:07:16
p:99937,Person,99937.0,NaN,Will Lovegrove,will lovegrove,/person/will-lovegrove,NaN,operating,NaN,NaN,...,121010.0,p:99937,c:81511,2008-02-01 00:00:00,NaN,0.0,1.0,CEO,2011-07-08 16:31:39,2011-07-08 17:40:44
p:99939,Person,99939.0,NaN,Roman Schulz,roman schulz,/person/roman-schulz,NaN,operating,NaN,NaN,...,121012.0,p:99939,c:81514,2011-01-01 00:00:00,NaN,0.0,1.0,Co-Founder,2011-07-08 16:54:57,2011-07-08 17:41:31
p:99940,Person,99940.0,NaN,Daniel Schulz,daniel schulz,/person/daniel-schulz,NaN,operating,NaN,NaN,...,121013.0,p:99940,c:81514,2011-01-01 00:00:00,NaN,0.0,1.0,Co-Founder,2011-07-08 16:54:57,2011-07-08 17:41:32
p:99943,Person,99943.0,NaN,Adrian Cockcroft,adrian cockcroft,/person/adrian-cockcroft,NaN,operating,NaN,NaN,...,121018.0,p:99943,c:159228,2011-04-07 00:00:00,NaN,0.0,1.0,Advisor,2011-07-08 17:55:27,2013-02-16 07:03:09
p:9995,Person,9995.0,NaN,Jack Kloster,jack kloster,/person/jack-kloster,NaN,operating,NaN,NaN,...,11185.0,p:9995,c:2726,NaN,NaN,0.0,1.0,Co-founder,2008-05-01 04:30:53,2008-05-01 04:30:53
p:99952,Person,99952.0,NaN,Jeremy Bloom,jeremy bloom,/person/jeremy-bloom,NaN,operating,NaN,NaN,...,121029.0,p:99952,c:9602,NaN,NaN,0.0,1.0,Co-Founder,2011-07-08 18:19:29,2011-07-08 18:24:08
p:99955,Person,99955.0,NaN,Mike Hormell,mike hormell,/person/mike-hormell,NaN,operating,NaN,NaN,...,121035.0,p:99955,c:9602,NaN,NaN,1.0,1.0,COO,2011-07-08 18:23:01,2012-08-16 09:27:58
p:99956,Person,99956.0,NaN,Braden Kelley,braden kelley,/person/braden-kelley,NaN,operating,NaN,NaN,...,181695.0,p:99956,c:174862,NaN,NaN,0.0,1.0,Co-Founder,2012-10-18 13:20:45,2012-10-26 17:19:48
p:9996,Person,9996.0,NaN,Peter Vlastelica,peter vlastelica,/person/peter-vlastelica,NaN,operating,NaN,NaN,...,11186.0,p:9996,c:2726,NaN,NaN,0.0,1.0,Co-founder,2008-05-01 04:31:23,2008-05-01 04:31:23
p:99961,Person,99961.0,NaN,Jose Rubio,jose rubio,/person/jose-rubio,NaN,operating,NaN,NaN,...,124129.0,p:99961,c:83393,NaN,NaN,0.0,1.0,CTO,2011-07-27 18:57:12,2011-07-27 20:05:07
p:99964,Person,99964.0,NaN,Mike LaValle,mike lavalle,/person/mike-lavalle,NaN,operating,NaN,NaN,...,121048.0,p:99964,c:202182,NaN,NaN,0.0,1.0,Co-Founder,2011-07-08 19:21:32,2011-07-08 19:21:32
p:99969,Person,99969.0,NaN,Rob Phillips,rob phillips,/person/rob-phillips-3,NaN,operating,NaN,NaN,...,129195.0,p:99969,c:86377,2010-10-01 00:00:00,NaN,0.0,1.0,Founder / CEO,2011-08-31 03:21:28,2011-09-05 03:11:43
p:9997,Person,9997.0,NaN,Jeffrey Kloster,jeffrey kloster,/person/jeffrey-kloster,NaN,operating,NaN,NaN,...,11187.0,p:9997,c:2726,NaN,NaN,0.0,1.0,Co-founder,2008-05-01 04:31:23,2008-05-01 04:31:23
p:99971,Person,99971.0,NaN,Mathieu Dupont,mathieu dupont,/person/mathieu-dupont,NaN,operating,NaN,NaN,...,121065.0,p:99971,c:81533,2011-01-21 00:00:00,NaN,0.0,1.0,CTO,2011-07-08 20:09:40,2011-07-09 01:23:14
p:99972,Person,99972.0,NaN,Serge Landry,serge landry,/person/serge-landry,NaN,operating,NaN,NaN,...,121066.0,p:99972,c:81533,2011-01-21 00:00:00,NaN,0.0,1.0,CEO,2011-07-08 20:09:40,2011-07-09 01:23:14
p:99975,Person,99975.0,NaN,Sani ElFishawy,sani elfishawy,/person/sani-elfishawy,NaN,operating,NaN,NaN,...,121073.0,p:99975,c:81535,2010-05-01 00:00:00,NaN,0.0,1.0,cofounder and CEO,2011-07-08 20:33:15,2011-07-09 01:24:00
p:99976,Person,99976.0,NaN,Farhad Farzaneh,farhad farzaneh,/person/farhad-farzaneh,NaN,operating,NaN,NaN,...,121074.0,p:99976,c:81535,2010-05-01 00:00:00,NaN,0.0,1.0,cofounder and CTO,2011-07-08 20:33:15,2011-07-09 01:24:01
p:99979,NaN,99979.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,121077.0,NaN,NaN,NaN,NaN,0.0,1.0,NaN,NaN,NaN
p:9998,NaN,9998.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11188.0,NaN,NaN,NaN,NaN,0.0,1.0,NaN,NaN,NaN
p:99980,NaN,99980.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,121078.0,NaN,NaN,NaN,NaN,0.0,1.0,NaN,NaN,NaN
p:99982,NaN,99982.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,121083.0,NaN,NaN,NaN,NaN,0.0,1.0,NaN,NaN,NaN
p:99983,Person,99983.0,NaN,Scott Mustard,scott mustard,/person/scott-mustard,NaN,operating,NaN,NaN,...,137421.0,p:99983,c:167040,2011-08-01 00:00:00,NaN,0.0,1.0,,2011-11-05 18:53:26,2011-11-05 20:30:15
p:99986,Person,99986.0,NaN,Thadd Hale,thadd hale,/person/thadd-hale,NaN,operating,NaN,NaN,...,121087.0,p:99986,c:81547,2005-05-01 00:00:00,NaN,1.0,1.0,COO,2011-07-08 21:38:06,2013-12-11 03:38:55
p:99987,Person,99987.0,NaN,David Vandygriff,david vandygriff,/person/david-vandygriff,NaN,operating,NaN,NaN,...,121088.0,p:99987,c:81547,2005-05-01 00:00:00,NaN,0.0,1.0,CEO,2011-07-08 21:38:06,2011-07-09 01:24:30
p:99992,Person,99992.0,NaN,Romain Brabant,romain brabant,/person/romain-brabant,NaN,operating,NaN,NaN,...,144695.0,p:99992,c:146815,2011-08-29 00:00:00,NaN,0.0,1.0,CEO,2012-01-13 18:40:11,2012-01-16 23:19:56
p:99994,Person,99994.0,NaN,Kiran Manda,kiran manda,/person/kiran-manda,NaN,operating,NaN,NaN,...,121091.0,p:99994,c:3643,NaN,NaN,0.0,1.0,Co-Founder,2011-07-09 00:22:14,2011-07-09 01:20:47
p:99997,NaN,99997.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,124612.0,NaN,NaN,NaN,NaN,0.0,1.0,NaN,NaN,NaN
p:99998,Person,99998.0,NaN,Adam Neumann,adam neumann,/person/adam-neumann,NaN,operating,NaN,NaN,...,121093.0,p:99998,c:172774,2010-02-15 00:00:00,NaN,0.0,1.0,,2011-07-09 00:39:05,2012-10-15 16:34:03

In [58]:
founder_groups = founders.groupby('id_x')#.agg({'start_at':pd.datetime})
founder_groups['start_at'].min()

id_x
p:10                 NaN
p:1000               NaN
p:10000     1.275350e+18
p:100006    1.136074e+18
p:100009    1.325376e+18
p:100011             NaN
p:100012             NaN
p:100013             NaN
p:100014             NaN
p:100015             NaN
p:100016             NaN
p:100017    1.104538e+18
p:100024    1.044058e+18
p:100025    1.044058e+18
p:100026    1.044058e+18
p:100029             NaN
p:100030             NaN
p:100031    1.197590e+18
p:100046    1.262304e+18
p:100047    1.283299e+18
p:100048             NaN
p:100049    9.783072e+17
p:100062    1.136074e+18
p:100065    8.520768e+17
p:100071    1.293840e+18
p:100072    1.167610e+18
p:100073    1.104538e+18
p:100074    1.272672e+18
p:100079             NaN
p:10008     1.199146e+18
                ...
p:99931     1.296518e+18
p:99932     1.296518e+18
p:99937     1.201824e+18
p:99939     1.293840e+18
p:99940     1.293840e+18
p:99943     1.302134e+18
p:9995               NaN
p:99952              NaN
p:99955              NaN
p:99956              NaN
p:9996               NaN
p:99961              NaN
p:99964              NaN
p:99969     1.285891e+18
p:9997               NaN
p:99971     1.295568e+18
p:99972     1.295568e+18
p:99975     1.272672e+18
p:99976     1.272672e+18
p:99979     9.466848e+17
p:9998      1.041379e+18
p:99980     9.151488e+17
p:99982     9.466848e+17
p:99983     1.312157e+18
p:99986     1.114906e+18
p:99987     1.114906e+18
p:99992     1.314576e+18
p:99994              NaN
p:99997     6.626880e+17
p:99998     1.266192e+18
Name: start_at, dtype: float64

In [53]:
import datetime
# pd.to_datetime(founders['start_at'])[5] > pd.to_datetime('2012-01-01')
np.min(pd.to_datetime(founders['start_at']))

Timestamp('1960-01-01 00:00:00')

TODO: Aggregate as the min of teh start_at, this will give the first date when work ex added

#### Education

In [ ]:
len(degrees)

In [ ]:
degrees[:5]

In [ ]:
len(degrees['object_id'].unique())

We have degree details for the above number of people

We need to give a rating to the degrees. All Bachelors will have rating as 1. Masters will have rating 2 and PHD/MBA will have rating 3.As there are around 7000 differnet degrees, for other types of degrees we can use the median of the rest of the table.

In [ ]:
degrees.loc[degrees['degree_type'].str.contains('B\..*'),'degree_score'] = 1

In [ ]:
degrees.loc[degrees['degree_type'].str.contains('Bachelor'),'degree_score'] = 1

In [ ]:
degrees.loc[degrees['degree_type'].str.contains('BS'),'degree_score'] = 1

In [ ]:
degrees.loc[degrees['degree_type'].str.contains('JD'),'degree_score'] = 1

In [ ]:
degrees.loc[degrees['degree_type'].str.contains('Master'),'degree_score'] = 2

In [ ]:
degrees.loc[degrees['degree_type'].str.contains('MS'),'degree_score'] = 2

In [ ]:
degrees.loc[degrees['degree_type'].str.contains('M.$'),'degree_score'] = 2

In [ ]:
degrees.loc[degrees['degree_type'].str.contains('M\..*'),'degree_score'] = 2

In [ ]:
degrees.loc[degrees['degree_type'].str.contains('Ph\.*D'),'degree_score'] = 3

In [ ]:
degrees.loc[degrees['degree_type'].str.contains('MBA'),'degree_score'] = 3

In [ ]:
degrees.loc[degrees['degree_type'] == '','degree_score'] = 1

In [ ]:
degrees['degree_score'].fillna(np.median(degrees['degree_score']), inplace=True)

In [ ]:
degrees[['degree_type','degree_score']][:5]

In [ ]:
degrees.loc[degrees['degree_score'].isnull()]['degree_type'].describe()

In [ ]:
education = pd.merge(persons, degrees, how='inner', left_on='id', right_on='object_id')

In [ ]:
education_with_no_persons = education[education['id_x'].isnull()]
person_with_no_education = education[education['id_y'].isnull()]
print "Education rows with no corresponding person",len(education_with_no_persons)
print "Persons with no details about their education",len(person_with_no_education)

Next Steps: 
1. We have sparse data for education. What to do with it?
2. How to clean workex data?

#### Funding Rounds

In [ ]:
len(funding_rounds)

In [ ]:
work_ex_funding = pd.merge(work_ex, funding_rounds,how='inner', left_on='relationship_object_id', right_on='object_id')

In [ ]:
len(work_ex_funding)

In [ ]:
work_ex_funding[:5]
funding_rounds['funded_at_datetime']= pd.to_datetime(funding_rounds['funded_at'])
funding_rounds[['funded_at_datetime','funded_at']]

In [ ]:
kevin = work_ex_funding[work_ex_funding['id_x']=='p:3']
kevin[['title','funded_at']]
kevin

In [ ]:
kevin1 = work_ex[work_ex['id_x']=='p:3']
# kevin1[['title','funded_at']]
# kevin1['start_at_datetime'] = pd.to_datetime(kevin['start_at'].dropna(),yearfirst = True)
# pd.to_datetime(kevin['end_at'])
# pd.to_datetime(kevin['end_at'],infer_datetime_format=True)
# kevin1[['start_at', 'end_at','start_at_datetime', 'end_at_datetime']]
# kevin1[['start_at', 'end_at']]
# pd.to_datetime(kevin1['start_at'].dropna())

In [ ]:
a = '2001-02-01'
pd.to_datetime(a)

In [ ]:
a = work_ex[:5].groupby('id_x')
work_ex[:10]

### Train Test and Evaluation Data

We need to divide the data into train test and evaluation data. We will divide it in the following ratio:

1.Train - 60%

2.Test - 20%

3.Evaluation - 20%

### Baseline Model

Our baseline model is dependent on Education and work experience of the founder. We will train our linear regression model on the score of the founder based on the above 2 features and run it on the test data. 

We will then find the error rate of our baseline model on the test data.